<%- include('../_layouts/adminheader') %>

<br><br>

<h2 class="page-title">Add a Province</h2>
<a href="/admin/provinces" class="btn btn-primary">Back to all provinces</a>

<br><br>

<form method="POST" action="/admin/provinces/add-province">

  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Province Name">
  </div>

  <div class="form-group">
    <label for="">Slug</label>
    <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="Slug">
  </div>

  <select class="form-group" name="activeflag">
      <option value="1">Yes</option>
      <option value="0>">No</option>
    </select>
  
  <button class="btn btn-primary">Submit</button>

</form>

<%- include('../_layouts/adminfooter') %>