<%- include('../_layouts/adminheader') %>


<div class="ibox-content col-lg-8 mx-auto">

 <div class="stepsBox">
                <div class="claimSteps" id="stepOne">
                     <h1><b>FAVOURITE</b></h1>  
                </div>
            </div>

<table class="table table-striped alignmiddle">

 <thead  style='background-color:#FF4500; color:#FFF;'>
    <tr class="home">
      <th>ADS</th>
      <th>MESSAGE</th>
      <th>DATE</th>
      
    </tr>
  </thead>
  <tbody>
    <% %>
    <tr>
      <td>
        
      </td>
      <td>
        
      </td>
      <td>
        
      </td>
    </tr>
    <% %>
  </tbody>
</table>


<%- include('../_layouts/adminfooter') %>