</div>
<hr>

<footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 text-center">
          <!-- Content -->
          <h3>Joeda Art</h3>
          <p>Situs Jual Beli Karya Seni</p>
              <!--Instagram-->
              <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>

              <!--Facebook-->
              <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
              <!--Twitter-->
              <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>


              <!--Youtube-->
              <a class="yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>
              <!--Slack-->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 mx-auto">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Syarat & Ketentuan</a>
              </li>
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Tentang Joeda Art</a>
              </li>
            
            </ul>

          </div>
          <!-- Grid column -->


      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright © 2019 <b>Joeda Art</b>
     
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
<script src="/js/main.js"></script>

<!-- </body> </html> -->

</body>

</html>