
<!DOCTYPE html>
<html dir="ltr" lang="id">
<head>
  <meta charset="utf-8" />
  <!-- v16354 -->

  <title>Kebijakan Privasi &ndash; Pusat Bantuan</title>

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="hc:meta:server:EC52IAmNDRwo54TFRiamLNSpWoFsmZaHwVUvFx14Hcv611hjYJs+U+9UThTpG/yq8+v+sKkE1g5ETkg5Jt1VUQ==" />
  <meta name="description" content="I. Kebijakan Privasi Kami bertekad untuk melindungi dan menghargai hak pribadi pengguna kami. Kenyamanan dan rasa aman anda sebagai..." /><meta property="og:image" content="https://theme.zdassets.com/theme_assets/554593/9e5e619cbb1920ab33221ca8d09184cd564eda12.png" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Pusat Bantuan" />
<meta property="og:title" content="Kebijakan Privasi" />
<meta property="og:description" content="I. Kebijakan Privasi
Kami bertekad untuk melindungi dan menghargai hak pribadi pengguna kami. Kenyamanan dan rasa aman anda sebagai pengguna dalam menggunakan situs web joedaart Indonesia yang saat ini ..." />
<meta property="og:url" content="http://help.joedaart.com/hc/id/articles/206077866-Kebijakan-Privasi" />
<link rel="canonical" href="https://help.joedaart.com/hc/id/articles/206077866-Kebijakan-Privasi" />
<link rel="alternate" hreflang="id" href="https://help.joedaart.com/hc/id/articles/206077866-Kebijakan-Privasi" />

  <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
  <link rel="stylesheet" media="all" href="//static.zdassets.com/hc/assets/application-f10bf79069ccb485e66c627058c1ae16.css" id="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//p20.zdassets.com/hc/theming_assets/554593/54095/style.css?digest=360284383251" />

  <link rel="shortcut icon" type="image/x-icon" href="//theme.zdassets.com/theme_assets/554593/d824d340b039320ae450ca0fbacbccda2e16c5f5.png" />

  <!--[if lt IE 9]>
  <script>
    //Enable HTML5 elements for <IE9
    'abbr article aside audio bdi canvas data datalist details dialog \
    figcaption figure footer header hgroup main mark meter nav output \
    progress section summary template time video'.replace(/\w+/g,function(n){document.createElement(n)});
  </script>
<![endif]-->

  <script src="//static.zdassets.com/hc/assets/jquery-c679166c1baf738bb62b9918a7a13fd4.js"></script>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-69449160-1', 'auto');
ga('send', 'pageview');

</script>

  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?3rCJH88A5zjV5gk9gPlCRvKhCYymeP8B';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>

  

  <script src="https://assets.zendesk.com/assets/apps/conditional_fields/latest/helpcenter.js"></script>
<script>var cfaRules = [{"fieldType":"tagger","field":360010470152,"value":"buying","select":[360010470172],"formId":74813,"requireds":[360010470172]},{"fieldType":"tagger","field":360010470152,"value":"selling","select":[360010471192],"formId":74813,"requireds":[360010471192]},{"fieldType":"tagger","field":360010471192,"value":"i_cannot_find_my_ad","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"i_have_a_problem_editing_my_ad","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"my_ad_has_been_rejected","select":[360010783931,360000127686,360010834331,25105386],"formId":74813,"requireds":[25105386,360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"my_ad_has_expired","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010510112,"value":"already_paid_but_my_balances_not_increase","select":[360000070526],"formId":74813,"requireds":[360000070526]},{"fieldType":"tagger","field":360010575531,"value":"escrow_transaction","select":[360010717992],"formId":74813,"requireds":[360010717992]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_question_about_credit_system_and_featured_ads","select":[360010577831],"formId":74813,"requireds":[360010577831]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_question_about_my_account","select":[360010469772],"formId":74813,"requireds":[]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_technical_issue","select":[360010613971],"formId":74813,"requireds":[360010613971]},{"fieldType":"tagger","field":360010575531,"value":"i_have_an_issue_buying_or_selling","select":[360010470152],"formId":74813,"requireds":[360010470152]},{"fieldType":"tagger","field":360010575531,"value":"i_want_to_report_fraud_or_inappropriate_behavior","select":[360010616951],"formId":74813,"requireds":[360010616951]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_about_a_payment","select":[360010510112],"formId":74813,"requireds":[360010510112]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_about_the_credit_system","select":[360010509812],"formId":74813,"requireds":[360010509812]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_on_how_i_can_promote_my_listing","select":[360010613951],"formId":74813,"requireds":[360010613951]},{"fieldType":"tagger","field":360010613951,"value":"i_am_not_sure_how_to_promote_an_ad","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"i_dont_see_my_paid_ad","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"the_ad_i_featured_was_rejected","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"why_is_my_featured_ad_not_live_yet","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010616951,"value":"inappropriate_ads_illegal_scam_violation_etc","select":[360010513032],"formId":74813,"requireds":[360010513032]},{"fieldType":"tagger","field":360010616951,"value":"inappropriate_contact_behavior_from_user","select":[360010513352],"formId":74813,"requireds":[360010513352]},{"fieldType":"tagger","field":360010616951,"value":"product_not_as_advertised_broken_fake_etc","select":[360010513012],"formId":74813,"requireds":[360010513012]},{"fieldType":"tagger","field":360010616951,"value":"someone_else_used_my_personal_details","select":[360010513412],"formId":74813,"requireds":[360010513412]},{"fieldType":"tagger","field":360010616951,"value":"theft_of_goods_or_money_fraud","select":[360010512992],"formId":74813,"requireds":[360010512992]},{"fieldType":"tagger","field":360010717992,"value":"escrow_buying","select":[360010718312,360010718752],"formId":74813,"requireds":[360010718752,360010718312]},{"fieldType":"tagger","field":360010717992,"value":"escrow_selling","select":[360010833931,360010718752],"formId":74813,"requireds":[360010833931,360010718752]}];</script>
  <script type="text/javascript" src="//p20.zdassets.com/hc/theming_assets/554593/54095/script.js?digest=360284383251"></script>
</head>
<body class="">
  

  <!-- Website Header -->
<header id="header-fix-view" class="header-fix-view" data-view="header/fixheader" data-subid=""> 
    
</header>


<!-- ALERT MODULE / CHANGE TEXT AND COLOR:

Options:
yellow
red
blue
off

-->
<div class="alert off">
<font size="2">Dear joedaarters, Kami  informasikan sehubungan dengan perayaan Idul Fitri 1440 H pada tanggal 5-6 Juni 2019. Seluruh kegiatan operasional joedaart diliburkan pada tanggal tersebut. Untuk iklan yang Anda pasang pada tanggal tersebut akan tayang di hari berikutnya. joedaart Indonesia mengucapkan Selamat Idul Fitri 1440 H.</font>
</div>


  <main role="main">
    

<article>
  <header class="knowledge-page-header">
    <h1> Kebijakan Privasi</h1>
  </header>
  <div class="clearfix"></div>
  <div class="article-column">
    <div class="article-body markdown">
      <div style="text-align: justify; line-height: 30px;"><strong>I. Kebijakan Privasi</strong>
<p>Kami bertekad untuk melindungi dan menghargai hak pribadi pengguna kami. Kenyamanan dan rasa aman anda sebagai pengguna dalam menggunakan situs web joedaart Indonesia yang saat ini terletak di  <a href="http://www.joedaart.com/" target="_blank" rel="noopener"> <strong>www.joedaart.com</strong> </a>, aplikasi mobile joedaart Indonesia dan peralatan dan layanan lain yang terasosiasi dengan joedaart Indonesia (“Layanan”) sangatlah penting bagi kami.</p>
<p>Kebijakan Privasi ini beserta  <a href="https://help.joedaart.com/hc/id/articles/206444513-Ketentuan-Umum" target="_blank" rel="noopener"> <strong> <u>Syarat &amp; Ketentuan Umum</u> </strong> </a> menggambarkan praktek kami terkait dengan data pribadi yang terkumpul melalui Layanan kami, dimana pengguna dapat terlibat di dalam kegiatan, antara lain, mendaftar dengan kami, membuat profil, memuat atau melihat iklan baris online, bertukar pesan dan melaksanakan sejumlah fungsi lain yang terkait.</p>
<p>Kebijakan Privasi ini tunduk pada hukum yang berlaku di Republik Indonesia khususnya Undang-undang No. 11 tahun 2008 tentang Informasi dan Transaksi Elektronik dan Peraturan Pemerintah No. 82 tahun 2012 tentang Penyelenggaraan Sistem dan Transaksi Elektronik.</p>
<p>Dengan menggunakan Layanan dimana Kebijakan Privasi ini muncul, anda dianggap telah membaca, mengerti dan memberikan persetujuan kepada penggunaan data pribadi anda oleh kami sesuai dengan Kebijakan Privasi ini.</p>
<p>Anda harus menyadari bahwa tautan-tautan tertentu pada Layanan dapat mengarahkan anda ke situs atau lingkup lain di luar cakupan kami dimana informasi yang dikumpulkan berada di luar kendali langsung kami. Dalam konteks tersebut maka Kebijakan Privasi dari situs-situs atau aplikasi-aplikasi pihak ketiga yang anda akses akan mengatur informasi yang diperoleh melalui pihak ketiga tersebut.</p>
<p>Jika anda berusia di bawah 18 tahun, anda harus menggunakan Layanan kami dengan keterlibatan dan persetujuan orang tua atau wali anda.</p>
<p> </p>
<p><strong>Informasi yang Kami Kumpulkan, Terima dan Atur:</strong></p>
<ol>
<li>Informasi Akun dan Profil: Pada saat anda membuat akun pada Layanan kami, kami dapat meminta informasi tertentu seperti alamat email dan  <em>password </em>(kode identifikasi pengguna) yang benar. anda dapat membuat suatu profil yang termasuk informasi seperti geografi, nama awal dan belakang, jenis kelamin, nomor telepon, minat dan informasi lainnya, termasuk foto yang anda inginkan untuk diunggah. Pada keadaan tertentu anda juga dapat menghubungi pengguna-pengguna lain melalui profil mereka. Setiap informasi yang anda bagikan dalam profil yang tersedia bagi publik adalah tanggung jawab anda. anda harus berhati-hati mempertimbangkan resiko-resiko dalam membuat informasi pribadi tertentu, khususnya informasi seperti alamat atau informasi lokasi yang akurat, tersedia secara publik. Pada saat anda telah memutuskan untuk masuk pada  <br /> Layanan kami menggunakan layanan autentikasi pihak ketiga, seperti misalnya Facebook Connect, kami dapat juga menerima profil tambahan atau informasi lain yang diizinkan oleh penyedia pihak ketiga tersebut. </li>
<li>Iklan dan Transaksi: Kami dapat mengatur informasi, termasuk informasi pribadi dan informasi kontak dan  <em>password </em>(kode identifikasi pengguna) yang valid yang diperlukan untuk memungkinkan pertemuan pembeli dan penjual, untuk mengirimkan pesan atau berkomunikasi dengan pengguna lain. Sebagian besar dari informasi yang sama yang anda gunakan untuk membuat akun atau profil dapat diminta kembali pada saat anda membuat sebuah iklan. Setiap informasi yang anda cantumkan dalam iklan adalah tanggung jawab anda sendiri. Seperti halnya dengan profil anda, anda harus berhati-hati mempertimbangkan resiko-resiko dalam mencantumkan informasi pribadi anda, seperti alamat atau informasi lokasi yang akurat yang tersedia secara publik dalam iklan.</li>
<li>Komunikasi: Anda dapat menghubungi pengguna lain melalui fitur yang kami sediakan, dimana seluruh pemrosesan dari komunikasi antara anda dan pengguna lain akan diatur secara otomatis melalui sistem kami. Komunikasi antara anda dan pengguna lainnya juga dapat kami serahkan kepada pihak yang berwenang dalam hal terjadinya dugaan pelanggaran atas hukum.</li>
<li>Permainan, Periklanan dan Promosi: Kami dapat mengumpulkan informasi pribadi seperti nama dan informasi kontak pada saat anda berpartisipasi dalam permainan, kuis atau promosi pemasaran lain yang kami selenggarakan atau kami dukung dalam Layanan kami atau dalam situs pihak ketiga. Kami juga dapat memproses informasi terkait dengan efektivitas iklan kami, termasuk iklan apa yang dilihat dan dipilih baik dalam jaringan kami maupun situs pihak ketiga. </li>
<li>Layanan Pelanggan: Pada saat anda menghubungi  <em>customer service </em>kami, kami dapat mengumpulkan informasi pribadi yang diperlukan untuk memenuhi permintaan anda dan menghubungi anda untuk menindaklanjuti hal-hal yang diperlukan. Kami juga dapat menghubungi anda menggunakan informasi kontak akun yang telah ada yang anda berikan kepada kami untuk tujuan tersebut. Kami dapat juga mengumpulkan informasi lain mengenai komunikasi kami dengan pengguna kami, contohnya setiap permohonan  <em>customer service</em> atau umpan balik yang pengguna sampaikan kepada kami.</li>
<li>Situs web dan  <em>Mobile Data</em>: Kami dapat secara otomatis menerima dan mencatat informasi pada server kami dari  <em>browser </em>atau perangkat termasuk alamat IP, atribut perangkat lunak dan perangkat keras anda, halaman yang anda minta, pengindentifikasi mobile, informasi mengenai penggunaan aplikasi, dan perangkat atau informasi sistem-tingkat lainnya. Hal ini dapat timbul dalam Layanan kami, atau layanan pihak ketiga. </li>
<li>Informasi Tambahan: Kami juga dapat menambah informasi yang kami dapatkan secara sah dari rekan usaha atau pihak ketiga atas data yang telah ada yang kami miliki mengenai pengguna kami.</li>
</ol>
<p> </p>
<p><strong>Pengidentifikasi Alamat IP,  <em>Cookies &amp; Mobile</em> </strong></p>
<ol>
<li>Kami dapat mengumpulkan informasi tertentu melalui teknologi seperti  <em>cookies</em>,  <em>pixels </em>dan  <em>local storage</em>(seperti pada  <em>browser</em> atau perangkat anda).  <em>Cookies</em> adalah data teks kecil yang menyimpan informasi pada komputer anda, telepon seluler atau perangkat lainnya secara lokal.  <em>Pixels</em> adalah gambar kecil yang merupakan bagian dari kode dalam halaman web yang melakukan hal-hal seperti mengizinkan server lain untuk mengukur pengunjung dari suatu halaman web dan seringkali digunakan sehubungan dengan Kode melacak jika dan saat (dan pada halaman mana) suatu  <em>pixel</em> dimuat untuk menunjukkan bahwa pengguna telah menggunakan layar khusus atau bagian dari suatu layar.</li>
<li>Dengan bantuan  <em>cookies</em>,  <em>server web </em>dapat menyimpan, sebagai contoh, preferensi dan pengaturan pada komputer, telepon seluler atau perangkat lain pengguna yang kemudian secara otomatis akan terbuka kembali pada kunjungan selanjutnya. Atau sebaliknya,  <em>cookies</em> digunakan, antara lain, untuk membuat penggunaan dari situs menjadi lebih mudah digunakan pengguna sehingga, sebagai contoh, anda tidak harus mengulangi proses  <em>log-in</em> pada saat anda berkunjung kembali.  <em>Cookies persistent</em> berada pada komputer anda untuk waktu yang lebih lama, sedangkan  <em>session cookies</em> akan secara otomatis terhapus pada saat jendela  <em>browser</em> anda ditutup.</li>
<li>Kami dapat mengizinkan pihak ketiga seperti penyedia iklan atau analisis untuk mengumpulkan informasi menggunakan jenis-jenis teknologi secara langsung pada situs web kami atau dari aplikasi mobile Data yang mereka kumpulkan tunduk pada kebijakan privasi yang berlaku dari pihak ketiga tersebut. </li>
</ol>
<p><strong>Penggunaan Informasi Ini</strong></p>
<ol>
<li>Untuk menyediakan Layanan kami, kami dapat menggunakan informasi yang kami kumpulkan dan kelola untuk tujuan-tujuan umum berikut ini: 
<ul>
<li>untuk menyediakan layanan pelanggan, termasuk untuk membuat dan mengatur akun pengguna, untuk menyelesaikan permasalahan teknis dan untuk memungkinkan fitur-fitur;</li>
<li>untuk menyesuaikan/mengatur penawaran dan pengalaman pada properti kami atau properti pihak ketiga;</li>
<li>untuk mengawasi aktivitas pengguna secara individu maupun umum, seperti kata kunci pencarian, muatan dan aktivitas transaksi, dan untuk mengatur lalu lintas dalam situs web;</li>
<li>untuk menghubungi pengguna kami, termasuk namun tidak terbatas untuk masalah pelayanan, layanan pelanggan atau komunikasi pemasaran yang diizinkan melalui setiap saluran komunikasi yang tersedia;</li>
<li>untuk melaksanakan inisiasi penelitian dan melaksanakan analisis untuk mengembangkan Layanan kami; dan</li>
<li>untuk melaksanakan  <a href="https://help.joedaart.com/hc/id/articles/206444513-Ketentuan-Umum" target="_blank" rel="noopener"> <strong> <u>Syarat &amp; Ketentuan Umum</u> </strong> </a> termasuk untuk melawan penipuan dan penyalahgunaan.</li>
</ul>
</li>
<li>Kami dapat menahan informasi yang kami kumpulkan dan tinjau dalam Layanan kami hanya selama disyaratkan untuk memenuhi tujuan-tujuan usaha di atas. </li>
</ol>
<p><strong>Berbagi Informasi:</strong></p>
<ol>
<li>Kami dapat membagi informasi yang kami kumpulkan dengan afiliasi kami (perusahaan berdasarkan kendali dan kepemilikan bersama) yang berlokasi di setiap Negara ketiga. Perusahaan-perusahaan tersebut hanya dapat memproses dan menggunakan informasi untuk membantu kami untuk tujuan yang dimaksud di atas dan terikat untuk mematuhi Kebijakan Privasi ini.</li>
<li>Kami dapat berbagi informasi non-pribadi tertentu (data yang tidak mengidentifikasi pengguna kami secara individual seperti data lalu lintas, tautan ataupun data lainnya) dengan penyedia layanan pihak ketiga, mitra terpercaya atau untuk peneliti yang telah disetujui untuk lebih memahami iklan apa atau layanan yang mungkin menarik bagi anda, untuk meningkatkan kualitas secara keseluruhan dan efektivitas Layanan kami atau layanan pihak ketiga, atau untuk berkontribusi untuk penelitian akademik yang kami percaya memiliki manfaat sosial yang lebih luas.</li>
<li>Kami tidak membagikan informasi pribadi mengenai pengguna kami dengan pihak ketiga non-afiliasi, kecuali jika kami memiliki izin khusus dari pengguna kami untuk melakukannya, atau dalam keadaan-keadaan sebagai berikut:
<ul>
<li>Kami dapat menggunakan penyedia layanan pihak ketiga untuk membantu menawarkan aspek-aspek Layanan kami, yang mana mereka tidak akan memiliki kewenangan untuk secara independen menggunakan informasi pribadi yang mereka proses atas nama kami, dan harus tunduk pada ketentuan-ketentuan Kebijakan Privasi ini.</li>
<li>Kami berhak untuk membagikan informasi dengan lembaga yang berwenang baik publik maupun swasta yang akan memungkinkan kami untuk melawan penipuan dan penyalahgunaan dalam jaringan kami, untuk menginvestigasi dugaan pelanggaran atas hukum, atau untuk melawan dugaan pelanggaran lain atas ketentuan Layanan kami.</li>
<li>Kami dapat membagikan informasi pribadi dengan lembaga pemerintah yang berwenang atau pihak berwenang lainnya sebagaimana disyaratkan oleh hukum yang berlaku.</li>
</ul>
</li>
<li>Kami tidak menyewakan atau menjual informasi pribadi mengenai pengguna kami dengan pihak ketiga non-afiliasi, kecuali kami memiliki izin khusus dari pengguna kami untuk melakukannya. Dalam hal usaha kami atau divisi dari usaha kami direorganisasi atau dijual dan kami mengalihkan seluruh atau secara substansial seluruh dari aset-aset kami kepada pemilik baru, informasi pribadi anda akan dialihkan kepada pembeli untuk memungkinkan keberlanjutan Layanan.</li>
</ol>
<p><strong>Kontrol Pengguna</strong></p>
<ol>
<li>Akses, Koreksi dan Penghapusan: Apabila anda telah membuat suatu akun atau mendaftar kepada kami, anda dapat mengakses, memperbaiki atau menghapus informasi yang anda sediakan. anda bertanggung jawab untuk menjaga data yang anda sediakan atau muat dalam jaringan kami tetap akurat. Jika akun anda dibuat melalui suatu penyedia identitas, anda dapat juga menonaktifkan atau mengubah informasi akun melalui pengaturan yang ditawarkan melalui penyedia identitas. Informasi iklan dapat diubah atau dihapus dalam bagian 'iklan anda' pada Layanan kami.</li>
<li>Pilihan Pihak Ketiga: Pihak ketiga tertentu yang aktif dalam Layanan kami, seperti antara lain Google Adwords, memberikan anda kemampuan untuk memillih keluar dari pengumpulan data dan penggunaan informasi oleh mereka untuk periklanan berbasis keuntungan. anda dapat mengunjungi http://www.youronlinechoices.com or http://www.networkadvertising.org untuk mempelajari lebih lanjut mengenai pelatihan dan untuk melaksanakan pilihan atas bagaimana jenis informasi dapat diperoleh dan digunakan.</li>
<li><em>Cookies</em>: Kebanyakan dari web  <em>browser desktop d</em>an  <em>mobile</em> yang utama (e.g., Safari, Firefox, Internet Explorer, Chrome, Opera) menyediakan kendali yang memungkinkan anda untuk membatasi atau memblokir pengaturan dari cookies dalam sistem anda. Sebagaimana telah kami jelaskan di atas, menghilangkan  <em>cookies</em> dalam  <em>browser</em> anda untuk baik domain pihak pertama (situs yang secara aktif anda kunjungi) atau domain pihak ketiga (perusahaan selain dengan yang anda secara langsung kunjungi dalam web) dapat menyebabkan penurunan fungsi pada keadaan tertentu.</li>
</ol>
<p><strong>Keamanan</strong></p>
<p>Seluruh informasi yang kami kumpulkan terlindungi dengan cara teknis dan prosedur keamanan yang wajar untuk mencegah akses atau penggunaan data yang tidak sah. Afiliasi kami (perusahaan berdasarkan kendali dan kepemilikan bersama), rekan yang terpercaya dan penyedia layanan pihak ketiga telah berkomitmen untuk mengelola informasi sesuai dengan persyaratan kami untuk keamanan dan privasi sesuai dengan setiap ketentuan yang berlaku dalam undang-undang dan peraturan di Republik Indonesia.</p>
<p><strong>Perubahan Atas Kebijakan Ini</strong></p>
<p>Kami dapat memperbaharui Kebijakan ini dari waktu ke waktu. Anda harus memeriksa halaman ini dari waktu ke waktu untuk mengetahui setiap perubahan. Kami dapat, namun tidak berkewajiban untuk, memberitahu anda mengenai perubahan signifikan dalam hal kami memperlakukan informasi pribadi, dengan menyampaikan pemberitahuan ke alamat email anda atau dengan pemberitahuan di situs kami. Dengan melanjutkan untuk menggunakan layanan kami, anda menegaskan persetujuan untuk melanjutkan penggunaan layanan atas setiap pembaruan dari Kebijakan Privasi ini.</p>
<p> </p>
<p><strong>II. Pernyataan Privasi </strong></p>
<p>Kami peduli dengan privasi Anda dan berkomitmen untuk melindungi data pribadi Anda. Pernyataan privasi ini akan memberitahu Anda bagaimana kami menangani data pribadi Anda, hak privasi Anda dan bagaimana hukum melindungi Anda. Silakan baca pernyataan privasi ini dengan seksama sebelum menggunakan Layanan kami.</p>
<p>Dalam pernyataan privasi ini:</p>
<p><strong>Layanan</strong> berarti setiap produk, layanan, konten, fitur, teknologi, atau fungsi, dan semua situs web, aplikasi, dan layanan terkait yang ditawarkan kepada Anda oleh kami.</p>
<p><strong>Platform</strong> berarti situs web, aplikasi seluler, situs seluler, atau hal online lainnya yang kami miliki yang melaluinya kami menawarkan Layanan kami.</p>
<p><strong>1. Siapa kami?</strong></p>
<p>Pengontrol utama data Anda untuk tujuan layanan internasional kami adalah joedaart Global B.V., sebuah perseroan terbatas dengan kantornya di 105 Taurusavenue, 2132 LS Hoofddorp, Belanda. joedaart Global BV adalah perusahaan induk dari entitas kelompok joedaart yang menyediakan layanan kepada Anda sesuai dengan <a href="https://help.joedaart.com/hc/id/categories/200862056-Syarat-dan-Ketentuan">Syarat &amp; Ketentuan</a> kami, (selanjutnya secara bersama disebut sebagai “<strong>joedaart</strong>”, “<strong>kami</strong>”, “<strong>kita</strong>” atau “<strong>milik kami</strong>” dalam pernyataan privasi ini). Entitas grup joedaart ini juga dianggap pengontrol data untuk layanan lokal yang mereka tawarkan. </p>
<p><strong>2. Data apa yang kami kumpulkan tentang Anda?</strong></p>
<p><strong><em><u>2.1.1. Data disediakan melalui interaksi langsung</u></em></strong></p>
<p><strong>Pendaftaran dan informasi akun lainnya</strong></p>
<p>Ketika Anda mendaftar untuk menggunakan Layanan kami, kami dapat mengumpulkan informasi berikut tentang Anda:</p>
<ul>
<li>jika Anda mendaftar menggunakan akun Google Anda: nama depan, nama belakang dan alamat email;</li>
<li>jika Anda mendaftar menggunakan akun Facebook Anda: kami mengumpulkan nama depan dan nama belakang seperti yang muncul di akun Facebook dan Facebook ID Anda. Jika Anda telah memberikan izin ke Facebook melalui opsi privasi dalam aplikasi mereka (yang muncul tepat sebelum Anda mendaftar di Platform kami), kami dapat mengumpulkan jenis kelamin, usia atau email Anda tergantung pada izin yang diberikan oleh Anda; dan</li>
<li>jika Anda mendaftar menggunakan nomor ponsel Anda: nomor ponsel.</li>
</ul>
<p>Bergantung pada pilihan yang Anda buat selama proses masuk ke Layanan kami atau selama proses melibatkan Layanan kami, Anda dapat memilih untuk memberikan data pribadi tambahan berikut:</p>
<ul>
<li>nama Anda;</li>
<li>alamat e-mail;</li>
<li>nomor ponsel;</li>
<li>detail kartu kredit Anda jika Anda ingin membeli layanan berbayar kami sebagaimana didefinisikan dalam <a href="https://help.joedaart.com/hc/id/articles/206444513-Ketentuan-Umum"><strong><u>Syarat &amp; Ketentuan</u></strong></a> kami.</li>
</ul>
<p><strong>Komunikasi melalui fitur <em>chat</em> di Platform kami</strong></p>
<p>Saat Anda menggunakan fitur obrolan kami untuk berkomunikasi dengan pengguna lain, kami mengumpulkan informasi yang Anda pilih untuk diberikan kepada pengguna lain melalui fitur ini.</p>
<p><strong><em><u>2.1.2. Data yang kami kumpulkan secara otomatis saat Anda menggunakan Layanan kami</u></em></strong></p>
<p>Ketika Anda berinteraksi dengan Platform kami atau menggunakan Layanan kami, kami secara otomatis mengumpulkan informasi berikut tentang Anda:</p>
<p><strong>Informasi Perangkat</strong></p>
<ul>
<li>Kami mengumpulkan informasi khusus perangkat seperti versi sistem operasi, tanda pengenal unik. Contohnya, nama jaringan seluler yang Anda gunakan. Kami mengaitkan pengenal perangkat dengan akun joedaart Anda.</li>
</ul>
<p><strong>Informasi lokasi</strong></p>
<ul>
<li>Tergantung pada izin perangkat Anda, jika Anda memposting suatu hal/barang di Platform kami, kami secara otomatis mengumpulkan dan memproses informasi tentang lokasi Anda yang sebenarnya. Kami menggunakan berbagai teknologi untuk menentukan lokasi, termasuk IP <em>address</em>, GPS, titik akses Wi-Fi, dan menara seluler. Data lokasi Anda memungkinkan Anda melihat item pengguna di dekat Anda dan membantu Anda dalam memposting suatu hal/barang di dalam lokasi Anda.</li>
</ul>
<p><strong>Klien dan data Log</strong></p>
<ul>
<li>Detail teknis, termasuk alamat <em>Internet Protocol</em> (IP) perangkat Anda, zona waktu dan sistem operasi. Kami juga akan menyimpan informasi <em>login</em> Anda (tanggal pendaftaran, tanggal perubahan kata sandi terakhir, tanggal login terakhir yang berhasil), jenis dan versi <em>browser</em> Anda.</li>
</ul>
<p><strong>Data <em>Clickstream</em></strong></p>
<ul>
<li>Kami mengumpulkan informasi tentang aktivitas Anda di Platform kami yang mencakup situs dari mana Anda mengakses Platform kami, stempel tanggal dan waktu setiap kunjungan, penelusuran yang telah Anda lakukan, <em>listings</em> atau iklan yang Anda klik, interaksi Anda dengan iklan atau <em>listings</em> seperti itu, durasi kunjungan Anda dan urutan di mana Anda mengunjungi konten di Platform kami.</li>
</ul>
<p><strong>Cookies dan Teknologi Sejenisnya</strong></p>
<ul>
<li>Kami menggunakan <em>cookies</em> untuk mengelola sesi pengguna kami, untuk menyimpan pilihan bahasa preferensi Anda dan mengirimkan Anda iklan yang relevan. "<strong>Cookies</strong>" adalah file teks kecil yang ditransfer oleh server web ke hard drive perangkat Anda. Cookie dapat digunakan untuk mengumpulkan tanggal dan waktu kunjungan Anda, riwayat penelusuran Anda, preferensi Anda, dan nama pengguna Anda. Anda dapat mengatur browser Anda untuk menolak semua atau beberapa cookie, atau untuk mengingatkan Anda ketika situs web mengatur atau mengakses cookie. Jika Anda menonaktifkan atau menolak cookie, harap perhatikan bahwa beberapa bagian dari Layanan / Platform kami dapat menjadi tidak dapat diakses atau tidak berfungsi dengan baik. Untuk informasi lebih lanjut tentang cookie yang kami gunakan, silakan lihat <strong><u>Kebijakan kami tentang Cookies dan Teknologi Sejenisnya.</u></strong></li>
</ul>
<p><strong>2.1.3. Data dari pihak ketiga atau data yang tersedia dari sumber public.</strong></p>
<p>Kami menerima data pribadi tentang Anda dari berbagai pihak ketiga dan sumber public sebagaimana disebutkan di bawah ini:</p>
<p>i. Informasi teknis dan penggunaan tertentu dari penyedia analisis seperti Google, Facebook, dan Optimizely;</p>
<p>ii. Informasi cookes dari jaringan periklanan seperti Criteo dan Props.</p>
<p><strong>3. Apakah kami mengumpulkan data dari anak-anak?</strong></p>
<p>Layanan kami tidak ditujukan untuk anak di bawah 18 tahun dan kami tidak secara sengaja mengumpulkan data dari siapa pun yang berusia di bawah 18 tahun. Jika kami mengetahui bahwa orang yang berusia di bawah 18 tahun telah memberi kami data pribadi mereka, kami akan segera menghapusnya.</p>
<p><strong>4. Mengapa kami memproses informasi pribadi Anda?</strong></p>
<p>Kami hanya akan menggunakan data pribadi Anda saat hukum mengizinkan kami. Umumnya, kami akan menggunakan data pribadi Anda dalam situasi berikut:</p>
<ul>
<li>Di mana kita perlu melakukan kontrak yang akan kita ikuti atau telah ikuti dengan Anda.</li>
<li>Di mana diperlukan untuk kepentingan sah kami untuk meningkatkan Layanan kami dan untuk menyediakan Anda sebuah Platform yang aman dan terjamin.</li>
<li>Di mana kita harus mematuhi kewajiban hukum atau peraturan.</li>
</ul>
<p>Dalam keadaan tertentu, kami juga dapat memproses data pribadi Anda berdasarkan pada persetujuan Anda. Jika kami melakukan ini, kami  akan memberi tahu Anda tujuan dan kategori data pribadi manakah yang akan diproses pada saat kami meminta persetujuan Anda.</p>
<p>Kami telah menerangkan di bawah ini mengenai deskripsi cara kami menggunakan data pribadi Anda, [dan dari mana dari dasar hukum yang kami gunakan untuk melakukannya. Kami juga telah mengidentifikasi apa kepentingan kami yang terlegitimasi di tempat yang tepat].</p>
<p><strong>4.1 Untuk menyediakan akses dan memberikan Layanan melalui Platform kami</strong></p>
<ol>
<li>Jika Anda masuk menggunakan nomor ponsel atau ID email Anda, kami menggunakan nama depan dan nama belakang Anda, nomor ponsel dan / atau alamat e-mail untuk mengidentifikasi Anda sebagai pengguna dan memberikan akses ke Platform kami.</li>
<li>Jika Anda masuk menggunakan akun Facebook Anda, kami menggunakan nama depan dan nama belakang Anda dari profil Facebook Anda dan alamat email Facebook untuk mengidentifikasi Anda sebagai pengguna di Platform kami dan memberi Anda akses ke Platform kami.</li>
<li>data log-informasi di atas juga digunakan oleh kami untuk mengirimkan Layanan kami kepada Anda sesuai dengan <a href="https://help.joedaart.com/hc/id/articles/206444513-Ketentuan-Umum">Syarat &amp; Ketentuan</a> kami.</li>
<li>Kami menggunakan alamat e-mail dan nomor ponsel Anda (melalui SMS) untuk membuat saran dan rekomendasi kepada Anda tentang Layanan kami yang mungkin menarik bagi Anda.</li>
</ol>
<p>Kami memproses informasi di atas untuk kinerja yang baik dari persetujuan kami dengan Anda dan atas dasar kepentingan sah kami dalam melakukan kegiatan pemasaran untuk menawarkan Layanan yang mungkin menarik bagi Anda.</p>
<p><strong>4.2 Untuk meningkatkan pengalaman Anda di Platform</strong></p>
<p>i. Kami menggunakan data <em>clickstream</em> untuk:</p>
<ul>
<li>menawarkan konten yang disesuaikan, seperti memberi Anda hasil pencarian yang lebih relevan saat menggunakan Layanan kami.</li>
<li>untuk menentukan berapa banyak waktu yang Anda habiskan di Platform kami dan dengan cara apa Anda menavigasi melalui Platform kami untuk memahami minat Anda dan untuk meningkatkan Layanan kami berdasarkan data ini. Contohnya, kami dapat memberi Anda saran tentang konten yang dapat Anda kunjungi berdasarkan konten yang Anda klik.</li>
<li>untuk memantau dan melaporkan efektivitas <em>campaign delivery</em> kepada mitra bisnis kami dan untuk analisis bisnis internal.</li>
</ul>
<p>ii. Kami menggunakan data lokasi Anda untuk tujuan berikut:</p>
<ul>
<li>untuk mengumpulkan informasi anonim dan agregat tentang karakteristik dan perilaku pengguna joedaart, termasuk untuk keperluan analisis bisnis, segmentasi dan pengembangan profil anonim.</li>
<li>untuk meningkatkan kinerja Layanan kami dan mempersonalisasi konten yang kami arahkan ke Anda. Contohnya - dengan bantuan data lokasi kami menampilkan daftar iklan yang ada di sekitar Anda untuk meningkatkan pengalaman pembelian Anda.</li>
<li>untuk mengukur dan memantau interaksi Anda dengan iklan <em>banners </em>pihak ketiga yang kami tempatkan di Platform kami</li>
</ul>
<p>iii. Dengan bantuan informasi login Anda yang mencakup id email dan nomor telepon Anda, kami memetakan perangkat yang berbeda (seperti desktop, ponsel, tablet) yang digunakan oleh Anda untuk mengakses Platform kami. Ini memungkinkan kami mengaitkan aktivitas Anda di Platform kami di seluruh perangkat dan membantu kami memberikan pengalaman yang baik tanpa peduli perangkat apa yang Anda gunakan.</p>
<p>Kami memproses informasi di atas berdasarkan kepentingan sah kami untuk meningkatkan pengalaman Anda di Platform kami dan untuk kinerja yang memadai dari kontrak kami dengan Anda.</p>
<p><strong>4.3 Untuk memberi Anda Platform yang aman dan aman</strong></p>
<ol>
<li>Kami menggunakan nomor ponsel Anda, data log dan pengenal perangkat unik untuk mengelola dan melindungi Platform kami (termasuk pemecahan masalah, analisis data, pengujian, pencegahan penipuan, pemeliharaan sistem, dukungan, pelaporan dan hosting data).</li>
<li>Kami menganalisis komunikasi Anda yang dilakukan melalui fitur obrolan kami untuk pencegahan penipuan dan untuk meningkatkan keamanan dengan memblokir spam atau pesan kasar dan tidak baik yang mungkin telah dikirimkan kepada Anda oleh pengguna lain. </li>
</ol>
<p>Kami memproses informasi di atas untuk kinerja yang memadai dari kontrak kami dengan Anda, untuk meningkatkan layanan kami dan atas dasar kepentingan sah kami untuk mencegah penipuan.</p>
<p><strong>5. Bagaimana kami akan memberitahu Anda tentang perubahan dalam pernyataan privasi kami?</strong></p>
<p>Kami dapat mengubah pernyataan privasi ini dari waktu ke waktu. Kami akan memposting perubahan di halaman ini dan akan memberi tahu Anda melalui e-mail atau melalui Platform kami. Jika Anda tidak setuju dengan perubahan, Anda dapat menutup akun Anda lewat Pusat Bantuan kami di layanan <a href="https://help.joedaart.com/hc/id/requests/new?ticket_form_id=74813#top" target="_blank" rel="noopener">"Hubungi Kami"</a></p>
<p><strong>6. Hak Anda</strong></p>
<p>Dalam keadaan tertentu, Anda memiliki hak di bawah undang-undang perlindungan data yang terkait dengan data pribadi Anda.</p>
<p>Jika Anda ingin menggunakan hak apa pun yang ditetapkan di bawah ini, silakan buka pengaturan akun / privasi Anda dapat <a href="https://help.joedaart.com/hc/id/requests/new?ticket_form_id=74813#top" target="_blank" rel="noopener">"Hubungi Kami"</a></p>
<p><strong>Hak untuk meminta akses</strong> ke data pribadi Anda (umumnya dikenal sebagai "permintaan akses subjek data"). Ini memungkinkan Anda untuk menerima salinan data pribadi yang kami simpan tentang Anda dan untuk memeriksa bahwa kami secara sah memprosesnya.</p>
<p><strong>Hak untuk meminta koreksi atas data apa pun yang kami miliki tentang Anda</strong>. Hal ini memungkinkan Anda untuk memiliki data yang tidak lengkap atau tidak akurat yang kami miliki tentang Anda untuk diperbaiki, meskipun kami mungkin perlu memverifikasi keakuratan data baru yang Anda berikan kepada kami.</p>
<p><strong>Hak untuk meminta pembatasan pemrosesan data pribadi Anda</strong>. Ini memungkinkan Anda meminta kami menangguhkan pemrosesan data pribadi Anda dalam skenario berikut: (a) jika Anda ingin kami menetapkan keakuratan data; (b) jika penggunaan data kami tidak sah; (c) di mana Anda membutuhkan kami untuk menyimpan data bahkan jika kami tidak lagi memerlukannya saat Anda membutuhkannya untuk menetapkan, menjalankan atau membela klaim hukum; atau (d) Anda keberatan dengan penggunaan kami atas data Anda, tetapi kami perlu memverifikasi apakah kami telah mengesampingkan alasan yang sah untuk menggunakannya.</p>
<p><strong>Hak untuk meminta penghapusan </strong>data pribadi Anda. Ini memungkinkan Anda meminta kami menghapus atau menghapus data pribadi yang tidak ada alasan kuat bagi kami untuk terus mmeprosesnya. Anda juga berhak meminta kami untuk menghapus atau memindahkan data pribadi Anda di mana Anda telah berhasil melaksanakan hak Anda untuk menolak pemrosesan (lihat di bawah), di mana kami mungkin telah memproses informasi Anda secara tidak sah atau di mana kami diminta untuk menghapus data pribadi Anda ke mematuhi hukum setempat. Harap dicatat bahwa untuk tujuan tertentu kami mungkin secara hukum berkewajiban untuk mempertahankan data Anda. Silakan lihat bagian 10.</p>
<p><strong>Hak untuk menolak</strong> pemrosesan data pribadi Anda di mana kami mengandalkan pada kepentingan yang sah (atau dari pihak ketiga) dan ada sesuatu tentang situasi khusus Anda yang membuat Anda ingin menolak pemrosesan atas dasar ini karena Anda merasakannya berdampak tentang hak-hak dasar dan kebebasan Anda. Anda juga memiliki hak untuk menolak di mana kami memproses data pribadi Anda untuk tujuan pemasaran langsung. Dalam beberapa kasus, kami dapat menunjukkan bahwa kami telah memaksakan alasan yang sah untuk memproses informasi Anda yang mengesampingkan hak dan kebebasan Anda.</p>
<p><strong>Hak untuk meminta transfer</strong> data pribadi Anda kepada Anda atau kepada pihak ketiga. Kami akan memberikan kepada Anda, atau pihak ketiga yang Anda pilih, data pribadi Anda dalam format yang terstruktur, umumnya digunakan, dapat dibaca oleh mesin. Perhatikan bahwa hak ini hanya berlaku untuk informasi otomatis yang pada awalnya Anda berikan persetujuan untuk kami gunakan atau di mana kami menggunakan informasi tersebut untuk melakukan kontrak dengan Anda.</p>
<p><strong>Hak untuk menarik persetujuan Anda untuk memproses data pribadi Anda setiap saat. Hal ini tidak mempengaruhi legalitas pemrosesan apa pun yang telah kami lakukan berdasarkan pada persetujuan yang diberikan sebelumnya.</strong></p>
<p><strong>Tidak ada biaya yang biasanya diperlukan</strong>: Anda tidak perlu membayar biaya untuk mengakses data pribadi Anda (atau menggunakan hak-hak lainnya). Namun, kami dapat mengenakan biaya yang wajar jika permintaan Anda jelas tidak berdasar, berulang atau berlebihan. Atau, kami dapat menolak untuk mematuhi permintaan Anda dalam situasi seperti ini.</p>
<p><strong>Batas waktu untuk merespons</strong>: Kami mencoba menanggapi semua permintaan yang sah dalam waktu satu bulan. Terkadang kami membutuhkan waktu lebih dari sebulan jika permintaan Anda sangat rumit atau Anda telah membuat beberapa permintaan. Dalam hal ini, kami akan memberi tahu Anda dan memberitahu perkembangan hal ini kepada anda.</p>
<p>Selain itu, Anda memiliki hak untuk mengajukan keluhan kapan saja kepada otoritas perlindungan data yang bertanggung jawab untuk Anda sebagaimana diuraikan dalam pasal 13.</p>
<p>Namun, sebelum Anda mengajukan keluhan kepada otoritas perlindungan data, kami akan menghargai kesempatan untuk menangani kekhawatiran Anda dalam contoh pertama, silakan hubungi Kantor Privasi kami di Menara Sentraya, 19th Floor, Jl. Iskandarsyah Raya No. 1A Melawai, Jakarta Selatan 12160.</p>
<p><strong>7. Komunikasi dan pemasaran</strong></p>
<p>Kami akan berkomunikasi dengan Anda melalui email, SMS atau pemberitahuan aplikasi sehubungan dengan Layanan / Platform kami untuk mengkonfirmasi pendaftaran Anda, untuk memberi tahu Anda jika daftar iklan Anda telah menjadi live / kadaluwarsa dan untuk pesan transaksional lainnya sehubungan dengan Layanan kami. Karena sangat penting bagi kami untuk memberikan Anda pesan-pesan transaksional seperti itu, Anda mungkin tidak dapat memilih keluar dari pesan-pesan tersebut.</p>
<p>Namun, Anda dapat meminta kami untuk berhenti mengirimi Anda komunikasi pemasaran kapan saja dengan mengeklik tautan opt-out di email atau SMS yang dikirimkan kepada Anda atau dengan menghubungi kami di Privacy@joedaart.com.</p>
<p>Anda dapat menerima komunikasi pemasaran dari kami jika Anda:</p>
<ul>
<li>telah meminta informasi tersebut dari kami;</li>
<li>menggunakan Platform atau Layanan kami;</li>
<li>memberi kami detail data anda ketika Anda mengikuti kompetisi; atau</li>
<li>terdaftar untuk promosi.</li>
</ul>
<p><strong>8. Dengan siapa kami membagikan data Anda?</strong></p>
<p>Kami mungkin harus membagikan data pribadi Anda dengan pihak-pihak yang ditetapkan di bawah ini untuk tujuan yang ditetapkan dalam bagian 4 di atas.</p>
<p><strong>Afiliasi perusahaan</strong> - kami dapat membagikan data Anda dengan perusahaan grup joedaart lainnya yang berlokasi di dalam maupun di luar EEA dan membantu kami dalam menyediakan layanan operasi bisnis seperti peningkatan produk, dukungan pelanggan, dan mekanisme deteksi penipuan. Setiap pembagian data pribadi dalam kelompok perusahaan joedaart yang terletak di luar Wilayah Ekonomi Eropa (“<strong>EEA</strong>”) akan selalu menjadi subjek perlindungan sebagaimana dijelaskan dalam bagian 9 atau pada perjanjian transfer data yang dengan jelas mendefinisikan kewajiban para pihak dan memastikan teknis yang sesuai dan langkah-langkah organisasi untuk melindungi data Anda.</p>
<p><strong>Penyedia Layanan Pihak Ketiga</strong>: Kami menggunakan penyedia layanan pihak ketiga untuk membantu kami memberikan aspek tertentu dari Layanan kami, contohnya, fasilitas penyimpanan cloud seperti Amazon Web Services dan Microsoft Azure. Penyedia layanan dapat ditempatkan di dalam atau di luar “<strong>EEA</strong>”.</p>
<p>Kami melakukan pemeriksaan pada penyedia layanan pihak ketiga kami dan mengharuskan mereka untuk menghormati keamanan data pribadi Anda dan memperlakukannya sesuai dengan hukum. Kami tidak mengizinkan mereka untuk menggunakan data pribadi Anda untuk tujuan mereka sendiri dan hanya mengizinkan mereka untuk memproses data pribadi Anda untuk tujuan tertentu dan sesuai dengan instruksi kami.</p>
<p><strong>Penyedia iklan dan analisis</strong>: Untuk meningkatkan Layanan kami, kami terkadang akan membagi informasi yang tidak dapat diidentifikasi dengan penyedia analisis yang membantu kami menganalisis bagaimana orang menggunakan Platform / Layanan kami. Kami membagikan informasi Anda dengan mereka dalam bentuk yang tidak dapat diidentifikasi untuk memantau dan melaporkan efektivitas pengiriman kampanye kepada mitra bisnis kami dan untuk analisis bisnis internal. Untuk keterangan lebih lanjut tentang pengiklan dan penyedia analisis kami, silakan lihat <strong><u>Kebijakan kami tentang Cookies dan Teknologi Sejenisnya</u></strong><strong><u>.</u></strong></p>
<p><strong>Aparat penegak hukum, regulator, dan lainnya</strong>: Kami dapat mengungkapkan data pribadi Anda kepada pihak penegak hukum, regulator, pemerintah, atau badan public dan pihak ketiga terkait lainnya untuk mematuhi persyaratan hukum atau peraturan apa pun.</p>
<p>Kami dapat memilih untuk menjual, mentransfer, atau menggabungkan bagian dari bisnis kami atau aset kami. Sebagai alternatif, kami mungkin berusaha untuk mendapatkan bisnis lain atau bergabung dengan mereka. Jika perubahan terjadi pada bisnis kami, maka pemilik baru dapat menggunakan data pribadi Anda dengan cara yang sama seperti yang ditetapkan dalam pernyataan privasi ini.</p>
<p><strong>Informasi yang tersedia untuk publik</strong>: Ketika Anda memposting barang untuk dijual menggunakan Layanan kami, Anda dapat memilih untuk membuat informasi pribadi tertentu terlihat oleh pengguna joedaart lainnya. Ini mungkin termasuk nama depan Anda, nama belakang, alamat email Anda, lokasi Anda dan nomor kontak Anda. Harap diperhatikan, informasi apa pun yang Anda berikan kepada pengguna lain dapat selalu dibagikan kepada mereka dengan orang lain, jadi mohon kebijaksanaan dalam hal ini.</p>
<p><strong>9. Transfer internasional</strong></p>
<p>Setiap kali kami mentransfer data pribadi Anda dari EEA, kami memastikan tingkat perlindungan yang sama diberikan kepadanya dengan memastikan setidaknya satu dari pengamanan berikut diterapkan:</p>
<ul>
<li>Kami hanya akan mentransfer data pribadi Anda ke negara-negara yang telah dianggap memberikan tingkat perlindungan yang memadai untuk data pribadi oleh <em>European Commission</em>. Untuk keterangan lebih lanjut, lihat <em><u>European Commission: Adequacy of the protection of personal data in non-EU countries.</u></em></li>
<li>Di mana kami menggunakan penyedia layanan tertentu, kami dapat menggunakan kontrak tertentu yang disetujui oleh <em>European Comission</em> yang memberikan data pribadi perlindungan yang sama dengan yang ada di Eropa. Untuk keterangan lebih lanjut, lihat <em><u>European Commission: Adequacy of the protection of personal data in non-EU countries.</u></em></li>
<li>Di mana kami menggunakan penyedia layanan yang berbasis di Amerika Serikat, kami dapat mentransfer data kepada mereka jika mereka adalah bagian dari Privasi Shield yang mengharuskan mereka untuk memberikan perlindungan yang sama terhadap data pribadi yang dibagi antara Eropa dan Amerika Serikat. Untuk keterangan lebih lanjut, lihat <em><u>European Commission: Adequacy of the protection of personal data in non-EU countries.</u></em></li>
</ul>
<p>Anda dapat menerima salinan perlindungan yang relevan dan diterapkan dengan menghubungi kami di <a href="mailto:legal@joedaart.com">legal@joedaart.com</a>.</p>
<p><strong>10. Di mana kami menyimpan data Anda dan untuk berapa lama?</strong></p>
<p>Data yang kami kumpulkan tentang Anda akan disimpan dan diproses di dalam serta di luar EEA di server aman untuk memberikan pengalaman pengguna sebaik mungkin. Misalnya - untuk membangun situs web atau aplikasi seluler cepat.</p>
<p>Kami hanya akan menyimpan data pribadi Anda selama diperlukan untuk memenuhi tujuan yang kami kumpulkan, termasuk untuk tujuan memenuhi persyaratan hukum, akuntansi, atau pelaporan apa pun.</p>
<p>Untuk menentukan periode retensi yang tepat untuk data pribadi, kami mempertimbangkan jumlah, sifat, dan kepekaan data pribadi, potensi risiko bahaya dari penggunaan tidak sah atau pengungkapan data pribadi Anda, tujuan yang kami gunakan untuk memproses data pribadi Anda dan apakah kita dapat mencapai tujuan tersebut melalui cara lain, dan persyaratan hukum yang berlaku.</p>
<p>Jika Anda memiliki pertanyaan terkait periode retensi data Anda, silakan hubungi kami di <a href="mailto:legal@joedaart.com">legal@joedaart.com</a></p>
<p><strong>11. Tindakan teknis dan organisasi &amp; pemrosesan keamanan </strong></p>
<p>Semua informasi yang kami terima tentang Anda disimpan di server aman dan kami telah menerapkan langkah-langkah teknis dan organisasi yang sesuai dan diperlukan untuk melindungi data pribadi Anda. joedaart terus mengevaluasi keamanan jaringannya dan kecukupan program keamanan informasi internalnya yang dirancang untuk (a) membantu mengamankan data Anda dari kehilangan, akses atau pengungkapan yang tidak disengaja atau melanggar hukum, (b) mengidentifikasi risiko yang dapat diduga secara wajar terhadap keamanan joedaart jaringan, dan (c) meminimalkan risiko keamanan, termasuk melalui penilaian risiko dan pengujian rutin. Selain itu, kami memastikan bahwa semua data pembayaran dienkripsi menggunakan teknologi SSL.</p>
<p>Harap dicatat, meskipun kami telah melakukan langkah-langkah yang kami terapkan untuk melindungi data Anda, transfer data melalui Internet atau jaringan terbuka lainnya tidak pernah sepenuhnya aman dan ada risiko bahwa data pribadi Anda dapat diakses oleh pihak ketiga yang tidak sah.</p>
<p><strong>12. Tautan ke situs web pihak ketiga</strong></p>
<p>Platform kami mungkin berisi tautan ke situs web atau aplikasi pihak ketiga. Jika Anda mengklik salah satu tautan ini, harap diperhatikan bahwa masing-masing akan memiliki kebijakan privasinya sendiri. Kami tidak mengontrol situs web / aplikasi ini dan tidak bertanggung jawab atas kebijakan tersebut. Ketika Anda meninggalkan Platform kami, kami mendorong Anda untuk membaca pemberitahuan privasi dari setiap situs web yang Anda kunjungi.</p>
<p><strong> 13. Informasi Kontak</strong></p>
<p>Untuk informasi tambahan apa pun atau untuk menggunakan hak Anda, silakan hubungi Kantor Privasi kami di Menara Sentraya, 19th Floor, Jl. Iskandarsyah Raya No. 1A Melawai, Jakarta Selatan 12160, atau melalui Bagian Bantuan di Platform kami. Anda juga dapat secara alternatif menghubungi pengontrol Data untuk layanan lokal Anda di <a href="mailto:legal@joedaart.com">legal@joedaart.com</a></p>
<p>Pemimpin Otoritas Pengawas kami adalah:</p>
<p><a href="https://www.datenschutz-berlin.de/kontakt.html">“Berliner Beauftragte für Datenschutz und Informationsfreiheit” </a></p>
<p>Friedrichstr. 219, Besuchereingang: Puttkamerstr. 16 – 18 (5. Etage), 10969 Berlin, Germany</p>
<p>Telefon: 030 13889-0, Telefax: 030 2155050</p>
<p>E-Mail: <a href="mailto:mailbox@datenschutz-berlin.de">mailbox@datenschutz-berlin.de</a></p>
<p> </p>
<p><strong>III. <u>Kebijakan tentang Cookies dan Teknologi Sejenisnya</u></strong></p>
<p><strong>HARAP BACA KEBIJAKAN TENTANG COOKIES DAN TEKNOLOGI SEJENISNYA INI DENGAN SEKSAMA SEBELUM MENGGUNAKAN SITUS ATAU APLIKASI INI</strong></p>
<p><strong>1. Apa itu cookies?</strong></p>
<p>Cookies adalah file kecil yang berisi huruf dan angka yang dapat ditempatkan pada perangkat Anda ketika Anda mengunjungi situs web atau menggunakan aplikasi. Kami menggunakan cookies untuk meningkatkan pengalaman Anda di Platform kami dengan mengingat preferensi Anda. Contohnya, di banyak situs web e-commerce, jika Anda menambahkan barang ke keranjang belanja online tanpa menyelesaikan proses pembayaran, pada saat Anda mengunjungi situs web yang sama, Anda masih dapat melihat item yang sama di keranjang belanja. Ini adalah contoh bagaimana cookies digunakan untuk mengingat preferensi Anda. Tanpa menggunakan cookies, pengalaman Anda di Platform kami akan kurang ramah pengguna.</p>
<p>Untuk informasi lebih lanjut tentang cookies, lihat <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.</p>
<p><strong>2. Mengapa kita menggunakan cookies?</strong></p>
<p>Cookies melakukan berbagai fungsi termasuk membuat navigasi lebih mudah dan menyimpan preferensi Anda untuk menunjukkan konten yang relevan dan meningkatkan pengalaman pengguna umum Anda.</p>
<p>Kami menggunakan cookies:</p>
<ul>
<li>Untuk mengelola preferensi Anda dan untuk meningkatkan fitur tertentu di Platform kami. Ini mungkin termasuk mengumpulkan informasi tentang tanggal dan waktu kunjungan Anda, riwayat penelusuran Anda dan preferensi bahasa Anda.</li>
<li>Untuk mendukung tindakan keamanan kami dan mendeteksi kegiatan penipuan apa pun.</li>
<li>Untuk menganalisis bagaimana Platform kami diakses atau digunakan dan kinerjanya. Kami menggunakan informasi ini untuk memelihara, mengoperasikan, dan terus meningkatkan layanan kami.</li>
<li>Untuk mengirimkan iklan yang relevan untuk Anda. Karena cookies membantu kami untuk mengatur iklan yang Anda lihat dan mengukur keefektifannya.</li>
</ul>
<p><strong>3. Jenis cookies dan teknologi apa yang kami gunakan?</strong></p>
<p>Platform kami menggunakan kategori cookies dan teknologi berikut:</p>
<ul>
<li><strong><em>Persistent cookies</em></strong> - cookies ini disimpan di browser perangkat Anda dan digunakan setiap kali Anda mengunjungi Platform kami. Cookies ini membantu kami dalam mengingat pengaturan dan preferensi Anda (s), untuk membuat kunjungan Anda berikutnya lebih nyaman. Contohnya, cookies ini akan memastikan bahwa Anda tidak perlu masuk lagi. Ini juga akan mengingat preferensi bahasa pengguna pada kunjungan berikutnya.</li>
<li><strong><em>Session cookies</em></strong> - ini adalah cookies sementara yang tetap ada di arsip cookies browser Anda sampai Anda meninggalkan Platform kami. Informasi yang kami terima menggunakan cookies ini membantu kami menganalisis pola lalu lintas web, memungkinkan kami mengidentifikasi dan memecahkan masalah dan memberikan pengalaman navigasi yang lebih baik.</li>
<li><strong><em>Advertising cookies</em></strong> - cookies ini membantu kami menyediakan iklan yang relevan untuk Anda, dalam mengukur kinerja <em>campaign</em> dari pengiklan dengan menganalisis interaksi Anda dengan iklan pengiklan. Sebagai contoh, hal ini membantu kami dalam menentukan berapa kali pengguna telah mengklik iklan dari pengiklan dan telah mengunjungi situs web pengiklan.</li>
</ul>
<p>Selain itu, kami menggunakan web <em>beacons </em>yang merupakan gambar grafis kecil (juga dikenal sebagai “pixel tags” atau “clear GIFs”) di Platform kami. Mereka digunakan bersama dengan cookies untuk mengidentifikasi pengguna kami dan perilaku mereka.</p>
<p>Platform kami mungkin berisi tautan ke situs web atau aplikasi pihak ketiga, termasuk milik mitra kami. Harap diperhatikan bahwa situs web pihak ketiga tersebut juga dapat menggunakan cookies. Kami tidak mengontrol situs web pihak ketiga tersebut dan tidak bertanggung jawab atas cookies yang mereka tetapkan atau akses. Jika Anda mengklik salah satu tautan atau aplikasi ini, harap dicatat bahwa masing-masing akan memiliki kebijakan cookies sendiri. Oleh karena itu, bacalah kebijakan cookies dari situs atau aplikasi Internet lain sebelum menggunakannya.</p>
<p><strong>4. Apakah ada cookies atau plug-in pihak ketiga di Platform kami?</strong></p>
<p>Pihak ketiga seperti jaringan periklanan dan penyedia layanan eksternal seperti analisis lalu lintas web dapat menggunakan cookies, suar web, perangkat pengembangan perangkat lunak (SDK), atau teknologi serupa untuk mengumpulkan informasi tentang kunjungan Anda ke Platform kami. Informasi ini digunakan untuk memberi Anda iklan yang lebih relevan di Platform kami atau di mana pun di Internet. Kami tidak memiliki kendali atas penggunaan cookies pihak ketiga ini, yang diatur oleh kebijakan privasi / cookies pihak ketiga.</p>
<p>Di bawah ini adalah pihak ketiga yang kami izinkan untuk mengatur cookies atau teknologi lainnya di perangkat Anda.</p>
<p><strong>Mitra Analitik</strong>: Untuk lebih memahami cara Anda menggunakan platform kami, kami bekerja dengan berbagai mitra analitik. Kami mengizinkan mitra analisis seperti Google dan analisis facebook untuk menggunakan cookies, SDK, dan teknologi terkait lainnya. Untuk informasi lebih lanjut tentang bagaimana Google dan Facebook menggunakan data Anda, silakan kunjungi https://www.google.com/policies/technologies/partner-sites/, https://www.facebook.com/about/privacy/update.</p>
<p><strong>Mitra iklan</strong>: Mitra iklan kami seperti DoubleClick, Criteo, RTB House, Index Exchange, OpenX, dan lainnya dapat menggunakan penargetan dan cookies iklan untuk menayangkan iklan yang menurut mereka paling menarik bagi Anda dan untuk mengukur keefektifan iklan tersebut di Platform kami.</p>
<p><strong><em>Plug-in</em></strong><strong> Pihak Ketiga:</strong></p>
<p>Platform kami juga menggunakan <em>plug-in</em> pihak ketiga dalam bentuk tombol share untuk Facebook, Twitter, dan Whatsapp. Dengan bantuan tombol bagikan ini Anda dapat membagikan cantuman iklan kami di platform pihak ketiga asalkan Anda masuk ke pihak ketiga ini. Pihak ketiga ini mungkin dapat menghubungkan interaksi Anda dengan platform kami ke akun Anda dengan mereka. Oleh karena itu, baca kebijakan privasi pihak ketiga ini sebelum mengeklik tombol bagikan.</p>
<p><strong>5. Apa yang dapat Anda lakukan untuk menghapus, menonaktifkan, atau memblokir cookies?</strong></p>
<p>Browser Anda biasanya akan memberikan informasi tentang cara menolak, menghapus, atau memblokir cookies. Tautan berikut akan membawa Anda ke informasi tersebut di beberapa browser yang sering digunakan:</p>
<ul>
<li><a href="https://support.google.com/chrome/answer/95647?hl=en-GB">Google Chrome</a></li>
<li><a href="https://support.microsoft.com/en-in/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
<li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Mozilla Firefox</a></li>
<li><a href="https://support.apple.com/en-in/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Safari</a></li>
<li><a href="https://www.opera.com/help/tutorials/security/privacy/">Opera</a></li>
</ul>
<p>Anda dapat memilih keluar dari cookies pihak ketiga dari Google Analytics melalui <a href="https://tools.google.com/dlpage/gaoptout">pengaturan iklannya</a> atau melalui <a href="https://adssettings.google.com">https://adssettings.google.com</a></p>
<p>Anda dapat memilih keluar dari cookies penargetan berbasis minat yang ditetapkan oleh server iklan yang berpartisipasi melalui situs web berikut yang didukung oleh <em>Digital Advertising Alliance</em>:</p>
<p>- <a href="http://youradchoices.com">http://youradchoices.com</a></p>
<p>- <a href="http://www.youronlinechoices.com">http://www.youronlinechoices.com</a></p>
<p>- <a href="http://optout.aboutads.info">http://optout.aboutads.info</a></p>
<p>Selain itu, Anda dapat mengubah pengaturan perangkat seluler Anda untuk mengontrol apakah Anda melihat iklan berdasarkan minat.</p>
<p>Harap diperhatikan: Jika Anda memilih untuk memblokir cookies yang kami tetapkan di Platform kami, Anda mungkin tidak dapat mengakses semua atau sebagian dari layanan kami, misalnya, Anda mungkin tidak dapat menyimpan pengaturan khusus seperti informasi login.</p>
<p><strong>6. Detail kontak</strong></p>
<p>Untuk informasi tambahan atau untuk menggunakan hak Anda, silakan hubungi kami.</p>
<p> </p>
</div>
    </div>
    <div class="article-attachments">
      <ul class="attachments">
        
      </ul>
    </div>
    
  </div>
 
  <div class="clearfix"></div>  
</article>
  </main>

  <footer class="footer-holder">
  <footer class="footer wrapper-main">
    <!-- Footer content -->
    <section class="helpLinks">
    </section>

    <span class="clearfix"></span>
  </footer>
  <div class="special">
    <div class="copyright">
      <p>joedaart Free classifieds <span>in <strong>Indonesia</strong></span> - Copyright © 2019 -
      <script>
        var today = new Date();
        var year = today.getFullYear();
        document.write(year);
      </script>
      joedaart</p>
    </div>
  </div>
</footer>


  <!-- / -->

  <script type="text/javascript" src="//static.zdassets.com/hc/assets/locales/id-4999e53e9bc95f4f8aa3d82ff1ceb180.js"></script>
  <script src="https://joedaartid.zendesk.com/auth/v2/host.js" data-brand-id="54095" data-return-to="https://help.joedaart.com/hc/id/articles/206077866-Kebijakan-Privasi" data-theme="hc" data-locale="id" data-auth-origin="54095,true,true"></script>
  <script type="text/javascript" src="https://p20.zdassets.com/assets/zendesk_pci_hc.v4.js"></script>

  <script type="text/javascript">
  /*

    Greetings sourcecode lurker!

    This is for internal Zendesk and legacy usage,
    we don't support or guarantee any of these values
    so please don't build stuff on top of them.

  */

  HelpCenter = {};
  HelpCenter.account = {"subdomain":"joedaartid","environment":"production","name":"joedaart"};
  HelpCenter.user = {"identifier":"da39a3ee5e6b4b0d3255bfef95601890afd80709","email":null,"name":null,"role":"anonymous","avatar_url":"https://assets.zendesk.com/hc/assets/default_avatar.png","is_admin":false,"organizations":[],"groups":[]};
  HelpCenter.internal = {"asset_url":"//static.zdassets.com/hc/assets/","web_widget_asset_composer_url":"https://static.zdassets.com/ekr/snippet.js","current_session":{"locale":"id","csrf_token":"hbVSymnPCQIc4fIttPkTLszGBFicEsss07zmYQETxURvTHyJANk6TdtSOPwbxEmo64SgaVmPi6VWp4FPOraN3g==","shared_csrf_token":null},"settings":{"zopim_enabled":true,"spam_filter_enabled":true},"current_record_id":"206077866","current_record_url":"/hc/id/articles/206077866-Kebijakan-Privasi","current_record_title":"Kebijakan Privasi","search_results_count":null,"current_text_direction":"ltr","current_brand_url":"https://joedaartid.zendesk.com","current_host_mapping":"help.joedaart.com","current_path":"/hc/id/articles/206077866-Kebijakan-Privasi","authentication_domain":"https://joedaartid.zendesk.com","show_autocomplete_breadcrumbs":true,"rollbar_config":{"enabled":true,"endpoint":"https://rollbar-us.zendesk.com/api/1/item/","accessToken":"731a5a953e9a4b7ab6cac9623f50c732","captureUncaught":true,"captureUnhandledRejections":true,"payload":{"environment":"production","client":{"javascript":{"source_map_enabled":true,"code_version":"527bee2be262b76350caa5494f955ad6edc25dbb","guess_uncaught_frames":true}}}},"user_info_changing_enabled":false,"has_user_profiles_enabled":false,"user_aliases_enabled":false,"has_anonymous_kb_voting":false,"has_professional_upsell":false,"has_multi_language_help_center":true,"mobile_device":false,"mobile_site_enabled":false,"show_at_mentions":false,"has_copied_content":false,"embeddables_config":{"embeddables_web_widget":true,"embeddables_connect_ipms":false},"base_domain":"zendesk.com","answer_bot_subdomain":"static","plans_url":"https://help.joedaart.com/hc/admin/plan?locale=id","manage_content_url":"https://help.joedaart.com/hc/id","arrange_content_url":"https://help.joedaart.com/hc/admin/arrange_contents?locale=id","general_settings_url":"https://help.joedaart.com/hc/admin/general_settings?locale=id","user_segments_url":"https://joedaartid.zendesk.com/knowledge/user_segments?brand_id=54095","has_community_enabled":false,"has_internal_sections":true,"has_answer_bot_web_form_enabled":false,"billing_url":"/access/return_to?return_to=https://joedaartid.zendesk.com/agent/admin/subscription","has_answer_bot":true,"has_block_answer_bot_embeddable":false,"answer_bot_management_url":"https://help.joedaart.com/hc/admin/answer_bot?locale=id","is_account_owner":false,"theming_center_url":"https://help.joedaart.com/theming","theming_cookie_key":"hc-da39a3ee5e6b4b0d3255bfef95601890afd80709-preview","is_preview":false,"has_guide_user_segments_search":true,"has_alternate_templates":false,"arrange_articles_url":"https://joedaartid.zendesk.com/knowledge/arrange?brand_id=54095","article_verification_url":"https://joedaartid.zendesk.com/knowledge/verification?brand_id=54095","has_article_verification":false,"guide_language_settings_url":"https://help.joedaart.com/hc/admin/language_settings?locale=id","has_fetch_authenticity_token":true,"docs_importer_url":"https://joedaartid.zendesk.com/knowledge/import_articles?brand_id=54095"};
</script>

  <script src="//static.zdassets.com/hc/assets/hc_enduser-e665e712a1d70f4fba6792be681e1bce.js"></script>

  <script type="text/javascript">
    (function() {
  var Tracker = {};

  Tracker.track = function(eventName, data) {
    var url = "https://help.joedaart.com/hc/tracking/events?locale=id";

    var payload = {
      "event": eventName,
      "data": data,
      "referrer": document.referrer
    };

    var xhr = new XMLHttpRequest();

    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
    xhr.send(JSON.stringify(payload));
  };

    Tracker.track("article_viewed", "BAh7CDoLbG9jYWxlSSIHaWQGOgZFVDoPYXJ0aWNsZV9pZGkEqn9IDDoKX21ldGF7CzoPYWNjb3VudF9pZGkDYXYIOhNoZWxwX2NlbnRlcl9pZGkEqRHtCzoNYnJhbmRfaWRpAk/TOgx1c2VyX2lkMDoOdXNlcl9yb2xlSSIOYW5vbnltb3VzBjsGVDsASSIHaWQGOwZU--d6d0cece9c1e27aff88b5070a2a30ef665ce04d5");
})();

  </script>
</body>
</html>