
<!DOCTYPE html>
<html dir="ltr" lang="id">
<head>
  <meta charset="utf-8" />
  <!-- v16354 -->

  <title>Pusat Bantuan</title>

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="hc:meta:server:X5R8s3D7KVDWfGE+87WgC4aQWLBEvNA3Nd+sjR9C5Synwte64HuCst+im+otvy4uGiltjSrHjUPx7Yuv8EUO6A==" />
  <link rel="canonical" href="https://help.joedaart.com/hc/id" />
<link rel="alternate" hreflang="id" href="https://help.joedaart.com/hc/id" />

  <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
  <link rel="stylesheet" media="all" href="//static.zdassets.com/hc/assets/application-f10bf79069ccb485e66c627058c1ae16.css" id="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//p20.zdassets.com/hc/theming_assets/554593/54095/style.css?digest=360284383251" />

  <link rel="shortcut icon" type="image/x-icon" href="//theme.zdassets.com/theme_assets/554593/d824d340b039320ae450ca0fbacbccda2e16c5f5.png" />

  <!--[if lt IE 9]>
  <script>
    //Enable HTML5 elements for <IE9
    'abbr article aside audio bdi canvas data datalist details dialog \
    figcaption figure footer header hgroup main mark meter nav output \
    progress section summary template time video'.replace(/\w+/g,function(n){document.createElement(n)});
  </script>
<![endif]-->

  <script src="//static.zdassets.com/hc/assets/jquery-c679166c1baf738bb62b9918a7a13fd4.js"></script>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-69449160-1', 'auto');
ga('send', 'pageview');

</script>

  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?3rCJH88A5zjV5gk9gPlCRvKhCYymeP8B';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>

  

  <script src="https://assets.zendesk.com/assets/apps/conditional_fields/latest/helpcenter.js"></script>
<script>var cfaRules = [{"fieldType":"tagger","field":360010470152,"value":"buying","select":[360010470172],"formId":74813,"requireds":[360010470172]},{"fieldType":"tagger","field":360010470152,"value":"selling","select":[360010471192],"formId":74813,"requireds":[360010471192]},{"fieldType":"tagger","field":360010471192,"value":"i_cannot_find_my_ad","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"i_have_a_problem_editing_my_ad","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"my_ad_has_been_rejected","select":[360010783931,360000127686,360010834331,25105386],"formId":74813,"requireds":[25105386,360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"my_ad_has_expired","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010510112,"value":"already_paid_but_my_balances_not_increase","select":[360000070526],"formId":74813,"requireds":[360000070526]},{"fieldType":"tagger","field":360010575531,"value":"escrow_transaction","select":[360010717992],"formId":74813,"requireds":[360010717992]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_question_about_credit_system_and_featured_ads","select":[360010577831],"formId":74813,"requireds":[360010577831]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_question_about_my_account","select":[360010469772],"formId":74813,"requireds":[]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_technical_issue","select":[360010613971],"formId":74813,"requireds":[360010613971]},{"fieldType":"tagger","field":360010575531,"value":"i_have_an_issue_buying_or_selling","select":[360010470152],"formId":74813,"requireds":[360010470152]},{"fieldType":"tagger","field":360010575531,"value":"i_want_to_report_fraud_or_inappropriate_behavior","select":[360010616951],"formId":74813,"requireds":[360010616951]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_about_a_payment","select":[360010510112],"formId":74813,"requireds":[360010510112]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_about_the_credit_system","select":[360010509812],"formId":74813,"requireds":[360010509812]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_on_how_i_can_promote_my_listing","select":[360010613951],"formId":74813,"requireds":[360010613951]},{"fieldType":"tagger","field":360010613951,"value":"i_am_not_sure_how_to_promote_an_ad","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"i_dont_see_my_paid_ad","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"the_ad_i_featured_was_rejected","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"why_is_my_featured_ad_not_live_yet","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010616951,"value":"inappropriate_ads_illegal_scam_violation_etc","select":[360010513032],"formId":74813,"requireds":[360010513032]},{"fieldType":"tagger","field":360010616951,"value":"inappropriate_contact_behavior_from_user","select":[360010513352],"formId":74813,"requireds":[360010513352]},{"fieldType":"tagger","field":360010616951,"value":"product_not_as_advertised_broken_fake_etc","select":[360010513012],"formId":74813,"requireds":[360010513012]},{"fieldType":"tagger","field":360010616951,"value":"someone_else_used_my_personal_details","select":[360010513412],"formId":74813,"requireds":[360010513412]},{"fieldType":"tagger","field":360010616951,"value":"theft_of_goods_or_money_fraud","select":[360010512992],"formId":74813,"requireds":[360010512992]},{"fieldType":"tagger","field":360010717992,"value":"escrow_buying","select":[360010718312,360010718752],"formId":74813,"requireds":[360010718752,360010718312]},{"fieldType":"tagger","field":360010717992,"value":"escrow_selling","select":[360010833931,360010718752],"formId":74813,"requireds":[360010833931,360010718752]}];</script>
  <script type="text/javascript" src="//p20.zdassets.com/hc/theming_assets/554593/54095/script.js?digest=360284383251"></script>
</head>
<body class="">
  

  <!-- Website Header -->
<header id="header-fix-view" class="header-fix-view" data-view="header/fixheader" data-subid=""> 
    <div class="headersite">
    
    
    </div>
</header>
<!-- Zendesk Search -->


<!-- ALERT MODULE / CHANGE TEXT AND COLOR:

Options:
yellow
red
blue
off

-->
<div class="alert off">
<font size="2">Dear joedaarters, Kami  informasikan sehubungan dengan perayaan Idul Fitri 1440 H pada tanggal 5-6 Juni 2019. Seluruh kegiatan operasional joedaart diliburkan pada tanggal tersebut. Untuk iklan yang Anda pasang pada tanggal tersebut akan tayang di hari berikutnya. joedaart Indonesia mengucapkan Selamat Idul Fitri 1440 H.</font>
</div>


  <main role="main">
      
    <div class="category-tree">
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/200837606-Daftar-dan-Pengaturan-Akun-"><p class="categorydesc">Daftar dan Pengaturan Akun </p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201345563-Daftar-dan-Log-in-Akun-joedaart">Daftar dan Log in Akun joedaart</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360017539272-Cara-membuat-akun-melalui-Desktop">Cara membuat akun melalui Desktop</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360017775651-Cara-membuat-akun-melalui-Aplikasi">Cara membuat akun melalui Aplikasi</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/115001596846-Verifikasi-Nomor-Handphone">Verifikasi Nomor Handphone</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/115005570966-Verifikasi-Nomor-Handphone-melalui-Desktop">Verifikasi Nomor Handphone melalui Desktop</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/115005570986-Verifikasi-Nomor-Handphone-melalui-Android">Verifikasi Nomor Handphone melalui Android</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201344896-Mengapa-akun-saya-terblokir-">Mengapa akun saya terblokir?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206001076-Mengapa-akun-saya-terblokir-">Mengapa akun saya terblokir? </a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201342453-Bagaimana-jika-saya-Lupa-Password-">Bagaimana jika saya Lupa Password?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/217066626-Bagaimana-jika-saya-lupa-password-">Bagaimana jika saya lupa password?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/200849043-Cara-Pasang-dan-Kelola-Iklan"><p class="categorydesc">Cara Pasang dan Kelola Iklan</p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201342403-Tips-pasang-iklan-yang-baik-benar">Tips pasang iklan yang baik &amp; benar</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/206001036-Tips-Pasang-Iklan-yang-Baik-Benar">Tips Pasang Iklan yang Baik &amp; Benar</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201344876-Bagaimana-cara-pasang-iklan-">Bagaimana cara pasang iklan?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/216525543-Bagaimana-cara-pasang-iklan-melalui-aplikasi-Android">Bagaimana cara pasang iklan melalui aplikasi Android</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/216925626-Bagaimana-cara-pasang-iklan-melalui-Desktop">Bagaimana cara pasang iklan melalui Desktop</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201342373-Bagaimana-cara-mengedit-menonaktifkan-iklan-">Bagaimana cara mengedit &amp; menonaktifkan iklan?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360018158472-Cara-edit-iklan-melalui-Aplikasi-Android">Cara edit iklan melalui Aplikasi Android</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360018427251-Cara-edit-iklan-melalui-Desktop">Cara edit iklan melalui Desktop</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/217980983-Bagaimana-cara-mengedit-menonaktifkan-iklan-">Bagaimana cara mengedit &amp; menonaktifkan iklan?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360003637832-Cara-Mengaktifkan-Fitur-WhatsApp">Cara Mengaktifkan Fitur WhatsApp</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360023116151-Cara-Mengaktifkan-Fitur-WhatsApp">Cara Mengaktifkan Fitur WhatsApp</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201342413-Kapan-iklan-saya-akan-ditayangkan-">Kapan iklan saya akan ditayangkan?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206001046-Kapan-iklan-saya-akan-ditayangkan-">Kapan iklan saya akan ditayangkan?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201342393-Berapakah-lamanya-masa-tayang-durasi-iklan-">Berapakah lamanya masa tayang/durasi iklan?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206348043-Berapakah-lamanya-masa-tayang-durasi-iklan-">Berapakah lamanya masa tayang/durasi iklan?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/115000890223-Alasan-Iklan-Tidak-Tayang">Alasan Iklan Tidak Tayang</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/115003035343-Perbaiki-Judul-Iklan">Perbaiki Judul Iklan</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/115003022766-Perbaiki-Harga-Iklan">Perbaiki Harga Iklan</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/115003075166-Iklan-Tidak-Sesuai-Dengan-Syarat-Ketentuan-Berjualan-di-joedaart">Iklan Tidak Sesuai Dengan Syarat &amp; Ketentuan Berjualan di joedaart</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360015921471-Perbaiki-Deskripsi-Iklan">Perbaiki Deskripsi Iklan</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/115003078206-Duplikasi-Iklan">Duplikasi Iklan</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000640883-Iklan-dengan-Beberapa-Produk">Iklan dengan Beberapa Produk</a>
                    </li>
                  
                
                
                <li>
                  <a href="/hc/id/sections/115000890223-Alasan-Iklan-Tidak-Tayang" class="see-all-articles">
                    <strong>Lihat semua 14 artikel</strong>
                  </a>
                </li>
                  
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002663591-FAQ-Iklan-Ditolak-Tidak-Tayang">FAQ Iklan Ditolak / Tidak Tayang</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360018504472-FAQ-Iklan-Ditolak-Tidak-Tayang">FAQ Iklan Ditolak / Tidak Tayang</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201815076-Bagaimana-cara-menghubungi-pemasang-iklan-penjual-">Bagaimana cara menghubungi pemasang iklan/penjual?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/217047206-Bagaimana-cara-menghubungi-penjual-pemasang-iklan-">Bagaimana cara menghubungi penjual/pemasang iklan? </a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/115001488106-Kendala-pada-Sistem-">Kendala pada Sistem </a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/115005134906-Mengapa-saya-tidak-bisa-akses-joedaart-">Mengapa saya tidak bisa akses joedaart? </a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/115000659443-Tips-Jual-dan-Beli-"><p class="categorydesc">Tips Jual dan Beli </p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360005615192-Jagalah-kerahasiaan-dokumen-pribadi-Anda">Jagalah kerahasiaan dokumen pribadi Anda</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360030638951-Jagalah-kerahasiaan-dokumen-pribadi-Anda">Jagalah kerahasiaan dokumen pribadi Anda</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201376293-Tips-Jual-dan-Beli">Tips Jual dan Beli</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360019456052-Tips-Jual-dan-Beli">Tips Jual dan Beli</a>
                    </li>
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/115005247463-Tips-Melakukan-Cash-On-Delivery-COD-">Tips Melakukan Cash On Delivery (COD)</a>
                    </li>
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360000046743-Tips-Jual-Beli-Kendaraan-Bermotor-">Tips Jual Beli Kendaraan Bermotor </a>
                    </li>
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360000432886-Ciri-ciri-Lowongan-Kerja-Fiktif">Ciri-ciri Lowongan Kerja Fiktif</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360027365052-Tips-Menjaga-Keamanan-Akun-Anda">Tips Menjaga Keamanan Akun Anda</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002321212-Informasi-penting-terkait-Kode-verifikasi-">Informasi penting terkait Kode verifikasi </a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360016053472-Informasi-penting-terkait-Kode-verifikasi-">Informasi penting terkait Kode verifikasi </a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/203040046-Waspadai-Penipuan-dengan-Modus-E-Cash-">Waspadai Penipuan dengan Modus E-Cash!</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/215760083-Waspadai-Penipuan-dengan-Modus-E-Cash-">Waspadai Penipuan dengan Modus E-Cash!</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/115000465403-Saldo-joedaart-Bukan-Alat-Transaksi-Jual-Beli-Hati-hati-penipuan-">Saldo joedaart Bukan Alat Transaksi Jual-Beli. Hati-hati penipuan!</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/115001579023-Saldo-joedaart-Bukan-Alat-Transaksi-Jual-Beli-Hati-hati-penipuan-">Saldo joedaart Bukan Alat Transaksi Jual-Beli. Hati-hati penipuan!</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201864246-Karakteristik-Iklan-Berbahaya-Penjual-Nakal">Karakteristik Iklan Berbahaya/Penjual Nakal</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360030648371-Karakteristik-Iklan-Penjual-yang-Mencurigakan">Karakteristik Iklan/Penjual yang Mencurigakan</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002306831-Media-Sosial-atau-Chat-Group-Yang-Mengatasnamakan-joedaart">Media Sosial atau Chat Group Yang Mengatasnamakan joedaart</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360015992632-Media-Sosial-atau-Chat-Group-yang-Mengatasnamakan-joedaart">Media Sosial atau Chat Group yang Mengatasnamakan joedaart</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/360001094272-Saldo-joedaart-Fitur-Promosi-dan-Paket-Iklan"><p class="categorydesc">Saldo joedaart, Fitur Promosi dan Paket Iklan</p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002616652-Apa-itu-Saldo-joedaart-">Apa itu Saldo joedaart?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/208575246-Apa-itu-Saldo-joedaart-">Apa itu Saldo joedaart? </a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002899651-Bagaimana-cara-membeli-Saldo-">Bagaimana cara membeli Saldo?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360016441052-Bagaimana-cara-membeli-Saldo-joedaart-melalui-Desktop-">Bagaimana cara membeli Saldo joedaart melalui Desktop?</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/217905383-Bagaimana-cara-membeli-Saldo-joedaart-melalui-aplikasi-Android-">Bagaimana cara membeli Saldo joedaart melalui aplikasi Android?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002616612-Bagaimana-cara-melakukan-pembayaran-saldo-joedaart-">Bagaimana cara melakukan pembayaran saldo joedaart?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/115000573863-Indomaret">Indomaret</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/217995363-Bank-Transfer-BCA">Bank Transfer BCA</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/217995403-Bank-Transfer-Permata-">Bank Transfer Permata </a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/217079426-Transfer-Bank-Lainnya">Transfer Bank Lainnya</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/217079446-Internet-Banking-Klik-BCA">Internet Banking - Klik BCA</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/217079466-Internet-Banking-Mandiri-Clickpay">Internet Banking - Mandiri Clickpay</a>
                    </li>
                  
                
                
                <li>
                  <a href="/hc/id/sections/360002616612-Bagaimana-cara-melakukan-pembayaran-saldo-joedaart-" class="see-all-articles">
                    <strong>Lihat semua 8 artikel</strong>
                  </a>
                </li>
                  
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002616732-Mengapa-Saldo-joedaart-saya-belum-bertambah-">Mengapa Saldo joedaart saya belum bertambah?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206348083-Mengapa-saldo-joedaart-saya-belum-bertambah-">Mengapa saldo joedaart saya belum bertambah?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002628231-Mengapa-Saldo-joedaart-tidak-dapat-dikembalikan-direfund-">Mengapa Saldo joedaart tidak dapat dikembalikan / direfund?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206348073-Mengapa-Saldo-joedaart-tidak-dapat-dikembalikan-di-refund-">Mengapa Saldo joedaart tidak dapat dikembalikan/di refund?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002616632-Fitur-Highlight">Fitur Highlight</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/217066726-Apa-itu-fitur-promosi-HIGHLIGHT-">Apa itu fitur promosi &quot;HIGHLIGHT&quot;?</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/115004717906-Benefit-baru-penggunaan-Fitur-Highlight">Benefit baru penggunaan Fitur Highlight</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002616772-Fitur-Platinum-Listing">Fitur Platinum Listing</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360001182383-Apa-itu-fitur-Platinum-">Apa itu fitur Platinum?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002616752-Fitur-Sundul-Iklan">Fitur Sundul Iklan</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/217995643-Fitur-Sundul-Iklan">Fitur Sundul Iklan</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002616792-Paket-Kuota-Iklan">Paket Kuota Iklan</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/115000927003-FAQ-Kuota-Iklan">FAQ Kuota Iklan</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360018353472-Harga-Paket-Kuota-Iklan">Harga Paket Kuota Iklan</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/115001247066-Bagaimana-Cara-Membeli-Kuota-Iklan">Bagaimana Cara Membeli Kuota Iklan</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002618072-Paket-PRO">Paket PRO</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360018641751-Paket-PRO">Paket PRO</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/200837616-Laporan-Penyalahgunaan-Akun-Iklan-"><p class="categorydesc">Laporan Penyalahgunaan Akun / Iklan </p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002501371-Waspada-Modus-Penipuan">Waspada Modus Penipuan</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360018533331-Waspada-Modus-Penipuan-Phishing">Waspada Modus Penipuan Phishing</a>
                    </li>
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360017541452-Waspada-Modus-Penipuan-Kartu-Kredit">Waspada Modus Penipuan Kartu Kredit</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201344936-Bagaimana-jika-saya-terkena-penipuan-">Bagaimana jika saya terkena penipuan?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206348103-Bagaimana-jika-saya-terkena-penipuan-">Bagaimana jika saya terkena penipuan?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201344926-Bagaimana-cara-melaporkan-akun-iklan-penipuan-">Bagaimana cara melaporkan akun / iklan penipuan?</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360030476312-Bagaimana-cara-melaporkan-akun-">Bagaimana cara melaporkan akun?</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/206001136-Bagaimana-cara-melaporkan-iklan-penipuan-">Bagaimana cara melaporkan iklan penipuan?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/360000049086-Fitur-Rekening-Bersama"><p class="categorydesc">Fitur Rekening Bersama</p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000154786-Syarat-dan-Ketentuan-Rekening-Bersama">Syarat dan Ketentuan Rekening Bersama</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000834266-Syarat-dan-Ketentuan-Rekening-Bersama">Syarat dan Ketentuan Rekening Bersama</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000149803-Tentang-Rekening-Bersama">Tentang Rekening Bersama</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360001236966-Cara-Menggunakan-Rekening-Bersama">Cara Menggunakan Rekening Bersama</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000812446-Apa-itu-Rekening-Bersama-">Apa itu Rekening Bersama?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000210146-Keuntungan-Menggunakan-Fitur-Rekening-Bersama">Keuntungan Menggunakan Fitur Rekening Bersama</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360001092243-Keuntungan-Menggunakan-Rekening-Bersama-">Keuntungan Menggunakan Rekening Bersama </a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000113443-Panduan-Berjualan">Panduan Berjualan</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000878806-Registrasi-Rekening-Bersama">Registrasi Rekening Bersama</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000828186-Cara-Aktifkan-Rekening-Bersama-Pada-Iklan">Cara Aktifkan Rekening Bersama Pada Iklan</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360001154903-Cara-menawarkan-Rekening-Bersama-ke-Pembeli">Cara menawarkan Rekening Bersama ke Pembeli</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000812666-Cara-mengirimkan-barang-melalui-JNE">Cara mengirimkan barang melalui JNE</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000872523-Cara-memasukkan-nomor-resi">Cara memasukkan nomor resi</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000714146-Rilis-Dana-Hasil-Penjualan">Rilis Dana Hasil Penjualan</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000165526-Panduan-Membeli">Panduan Membeli</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000822823-Bagaimana-cara-membeli-barang-dengan-Rekening-Bersama-">Bagaimana cara membeli barang dengan Rekening Bersama?</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000880186-Bagaimana-jika-pesanan-saya-dibatalkan-oleh-penjual-">Bagaimana jika pesanan saya dibatalkan oleh penjual?</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000151206-Cara-Pembayaran-Rekening-Bersama">Cara Pembayaran Rekening Bersama</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000835826-Pembayaran-Rekening-Bersama-via-DOKU">Pembayaran Rekening Bersama via DOKU</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000840503-Pembayaran-Rekening-Bersama-via-Internet-Banking">Pembayaran Rekening Bersama via Internet Banking</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000714206-Pembayaran-Rekening-Bersama-via-Bank-Transfer">Pembayaran Rekening Bersama via Bank Transfer</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000879086-Pembayaran-Rekening-Bersama-via-Convenience-Store">Pembayaran Rekening Bersama via Convenience Store</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000151226-Penanganan-Masalah">Penanganan Masalah</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000846646-Penanganan-Masalah">Penanganan Masalah</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/360001217171-Layanan-Inspeksi-Mobil"><p class="categorydesc">Layanan Inspeksi Mobil</p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360002997092-FAQ-Layanan-Inspeksi-Mobil">FAQ Layanan Inspeksi Mobil</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360020107831-FAQ-Layanan-Inspeksi-Mobil">FAQ Layanan Inspeksi Mobil</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/200862056-Syarat-dan-Ketentuan"><p class="categorydesc">Syarat dan Ketentuan</p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201376663-Ketentuan-Umum">Ketentuan Umum</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360030488931-Peran-joedaart-dalam-transaksi">Peran joedaart dalam transaksi</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/206444513-Ketentuan-Umum">Ketentuan Umum</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201376673-Larangan-Iklan">Larangan Iklan</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/206444533-Larangan-Iklan">Larangan Iklan</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201376683-Kebijakan-Privasi">Kebijakan Privasi</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206077866-Kebijakan-Privasi">Kebijakan Privasi</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201932963-Syarat-dan-Ketentuan-Fitur-Berbayar">Syarat dan Ketentuan Fitur Berbayar</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/209910493-Syarat-dan-Ketentuan-Fitur-Berbayar">Syarat dan Ketentuan Fitur Berbayar</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/360000146323-Syarat-dan-Ketentuan-Iklan-Mobil-Baru">Syarat dan Ketentuan Iklan Mobil Baru</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/360000793666-Syarat-dan-Ketentuan-Pasang-Iklan-Mobil-Baru">Syarat dan Ketentuan Pasang Iklan Mobil Baru</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201776973-Prosedur-Pemberitahuan-dan-Penghapusan-Materi-Notice-and-Takedown-Procedure-">Prosedur Pemberitahuan dan Penghapusan Materi (Notice and Takedown Procedure)</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/207934013-Prosedur-Pemberitahuan-dan-Penghapusan-Materi">Prosedur Pemberitahuan dan Penghapusan Materi</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/211480706-Notice-and-Takedown-Procedure">Notice and Takedown Procedure</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      
        <section class="category">
          
          <h2><a href="/hc/id/categories/201662563-Tentang-joedaart"><p class="categorydesc">Tentang joedaart</p></a></h2>
          
          
            <section class="section">
              <h3>
                
                <a href="/hc/id/sections/202668206-Tentang-joedaart">Tentang joedaart</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/213746523-Tentang-joedaart">Tentang joedaart</a>
                    </li>
                  
                
                
                  
              
                  </ul>
            </section>
          

          
        </section>
      

      
    </div>
  



  </main>

  <footer class="footer-holder">
  <footer class="footer wrapper-main">
    <!-- Footer content -->
    <section class="helpLinks">
      <ul> 
        <li class="Contact"><a href="/hc">Pusat Bantuan</a></li>
        <li class="Terms"><a href="/hc/id/articles/206077866">Kebijakan Privasi</a></li>
        <li class="About"><a href="/hc/id/articles/213746523">Tentang joedaart</a></li>
        <li class="Sell"><a href="http://joedaart.com/pasang/">Pasang Iklan</a></li>
      </ul>
    </section>
    <section class="appStores">
      <div class="container-stores">
          <a rel="nofollow" href="https://play.google.com/store/apps/details?id=com.app.tokobagus.betterb&referrer=utm_source%3Djoedaart.com%26utm_medium%3Dcpc%26utm_campaign%3Dandroid-app-footer" target="_blank" class="google-play-en"><img src="//theme.zdassets.com/theme_assets/554593/e47f39672e98748be05a35e8ab0e8ffd8650564f.png" height="40" alt="joedaart App" /></a>
          <a rel="nofollow" href="https://itunes.apple.com/us/app/tokobagus.com/id660161040?mt=8" target="_blank" class="app-store-en"><img src="//theme.zdassets.com/theme_assets/554593/d3479d378da2379c72d50e81807d32a63dad8e58.png" height="40" alt="joedaart App" /></a>
      </div>
    </section>
    <span class="clearfix"></span>
  </footer>
  <div class="special">
    <div class="copyright">
      <p>joedaart Free classifieds <span>in <strong>Indonesia</strong></span> - Copyright © 2006 -
      <script>
        var today = new Date();
        var year = today.getFullYear();
        document.write(year);
      </script>
      joedaart</p>
    </div>
  </div>
</footer>


  <!-- / -->

  <script type="text/javascript" src="//static.zdassets.com/hc/assets/locales/id-4999e53e9bc95f4f8aa3d82ff1ceb180.js"></script>
  <script src="https://joedaartid.zendesk.com/auth/v2/host.js" data-brand-id="54095" data-return-to="https://help.joedaart.com/hc/id" data-theme="hc" data-locale="id" data-auth-origin="54095,true,true"></script>
  <script type="text/javascript" src="https://p20.zdassets.com/assets/zendesk_pci_hc.v4.js"></script>

  <script type="text/javascript">
  /*

    Greetings sourcecode lurker!

    This is for internal Zendesk and legacy usage,
    we don't support or guarantee any of these values
    so please don't build stuff on top of them.

  */

  HelpCenter = {};
  HelpCenter.account = {"subdomain":"joedaartid","environment":"production","name":"joedaart"};
  HelpCenter.user = {"identifier":"da39a3ee5e6b4b0d3255bfef95601890afd80709","email":null,"name":null,"role":"anonymous","avatar_url":"https://assets.zendesk.com/hc/assets/default_avatar.png","is_admin":false,"organizations":[],"groups":[]};
  HelpCenter.internal = {"asset_url":"//static.zdassets.com/hc/assets/","web_widget_asset_composer_url":"https://static.zdassets.com/ekr/snippet.js","current_session":{"locale":"id","csrf_token":"MU3np/oqwIF0pUscEFt0h2GwZBVYfwEZJbVBy68GQjvJG0yuaqprY317scjOUfqi/QlRKDYEXG3hh2bpQAGp/w==","shared_csrf_token":null},"settings":{"zopim_enabled":true,"spam_filter_enabled":true},"current_record_id":null,"current_record_url":null,"current_record_title":null,"search_results_count":null,"current_text_direction":"ltr","current_brand_url":"https://joedaartid.zendesk.com","current_host_mapping":"help.joedaart.com","current_path":null,"authentication_domain":"https://joedaartid.zendesk.com","show_autocomplete_breadcrumbs":true,"rollbar_config":{"enabled":true,"endpoint":"https://rollbar-us.zendesk.com/api/1/item/","accessToken":"731a5a953e9a4b7ab6cac9623f50c732","captureUncaught":true,"captureUnhandledRejections":true,"payload":{"environment":"production","client":{"javascript":{"source_map_enabled":true,"code_version":"527bee2be262b76350caa5494f955ad6edc25dbb","guess_uncaught_frames":true}}}},"user_info_changing_enabled":false,"has_user_profiles_enabled":false,"user_aliases_enabled":false,"has_anonymous_kb_voting":false,"has_professional_upsell":false,"has_multi_language_help_center":true,"mobile_device":true,"mobile_site_enabled":false,"show_at_mentions":false,"has_copied_content":false,"embeddables_config":{"embeddables_web_widget":true,"embeddables_connect_ipms":false},"base_domain":"zendesk.com","answer_bot_subdomain":"static","plans_url":"https://help.joedaart.com/hc/admin/plan?locale=id","manage_content_url":"https://help.joedaart.com/hc/id","arrange_content_url":"https://help.joedaart.com/hc/admin/arrange_contents?locale=id","general_settings_url":"https://help.joedaart.com/hc/admin/general_settings?locale=id","user_segments_url":"https://joedaartid.zendesk.com/knowledge/user_segments?brand_id=54095","has_community_enabled":false,"has_internal_sections":true,"has_answer_bot_web_form_enabled":false,"billing_url":"/access/return_to?return_to=https://joedaartid.zendesk.com/agent/admin/subscription","has_answer_bot":true,"has_block_answer_bot_embeddable":false,"answer_bot_management_url":"https://help.joedaart.com/hc/admin/answer_bot?locale=id","is_account_owner":false,"theming_center_url":"https://help.joedaart.com/theming","theming_cookie_key":"hc-da39a3ee5e6b4b0d3255bfef95601890afd80709-preview","is_preview":false,"has_guide_user_segments_search":true,"has_alternate_templates":false,"arrange_articles_url":"https://joedaartid.zendesk.com/knowledge/arrange?brand_id=54095","article_verification_url":"https://joedaartid.zendesk.com/knowledge/verification?brand_id=54095","has_article_verification":false,"guide_language_settings_url":"https://help.joedaart.com/hc/admin/language_settings?locale=id","has_fetch_authenticity_token":true,"docs_importer_url":"https://joedaartid.zendesk.com/knowledge/import_articles?brand_id=54095"};
</script>

  <script src="//static.zdassets.com/hc/assets/hc_enduser-e665e712a1d70f4fba6792be681e1bce.js"></script>

  <script type="text/javascript">
    (function() {
  var Tracker = {};

  Tracker.track = function(eventName, data) {
    var url = "https://help.joedaart.com/hc/tracking/events?locale=id";

    var payload = {
      "event": eventName,
      "data": data,
      "referrer": document.referrer
    };

    var xhr = new XMLHttpRequest();

    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
    xhr.send(JSON.stringify(payload));
  };

    Tracker.track("front_page_viewed", "BAh7BjoKX21ldGF7CzoPYWNjb3VudF9pZGkDYXYIOhNoZWxwX2NlbnRlcl9pZGkEqRHtCzoNYnJhbmRfaWRpAk/TOgx1c2VyX2lkMDoOdXNlcl9yb2xlSSIOYW5vbnltb3VzBjoGRVQ6C2xvY2FsZUkiB2lkBjsLVA==--07c79fe6c57214a70f2ea51099dc927947d86130");
})();

  </script>
</body>
</html>