
<!DOCTYPE html>
<html dir="ltr" lang="id">
<head>
  <meta charset="utf-8" />
  <!-- v16354 -->

  <title>Syarat dan Ketentuan &ndash; Pusat Bantuan</title>

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="hc:meta:server:nce40Wjysj1Y/1qzxXKl84SVbRGS6EG9StgY8wecqfxh+GH7+Tdip6+xMQElmZ2vSq3KI29NWmrJQb3P4ZHucQ==" />
  <link rel="canonical" href="https://help.joedaart.com/hc/id/categories/200862056-Syarat-dan-Ketentuan" />
<link rel="alternate" hreflang="id" href="https://help.joedaart.com/hc/id/categories/200862056-Syarat-dan-Ketentuan" />

  <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
  <link rel="stylesheet" media="all" href="//static.zdassets.com/hc/assets/application-f10bf79069ccb485e66c627058c1ae16.css" id="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//p20.zdassets.com/hc/theming_assets/554593/54095/style.css?digest=360284383251" />

  <link rel="shortcut icon" type="image/x-icon" href="//theme.zdassets.com/theme_assets/554593/d824d340b039320ae450ca0fbacbccda2e16c5f5.png" />

  <!--[if lt IE 9]>
  <script>
    //Enable HTML5 elements for <IE9
    'abbr article aside audio bdi canvas data datalist details dialog \
    figcaption figure footer header hgroup main mark meter nav output \
    progress section summary template time video'.replace(/\w+/g,function(n){document.createElement(n)});
  </script>
<![endif]-->

  <script src="//static.zdassets.com/hc/assets/jquery-c679166c1baf738bb62b9918a7a13fd4.js"></script>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-69449160-1', 'auto');
ga('send', 'pageview');

</script>

  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?3rCJH88A5zjV5gk9gPlCRvKhCYymeP8B';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>

  

  <script src="https://assets.zendesk.com/assets/apps/conditional_fields/latest/helpcenter.js"></script>
<script>var cfaRules = [{"fieldType":"tagger","field":360010470152,"value":"buying","select":[360010470172],"formId":74813,"requireds":[360010470172]},{"fieldType":"tagger","field":360010470152,"value":"selling","select":[360010471192],"formId":74813,"requireds":[360010471192]},{"fieldType":"tagger","field":360010471192,"value":"i_cannot_find_my_ad","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"i_have_a_problem_editing_my_ad","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"my_ad_has_been_rejected","select":[360010783931,360000127686,360010834331,25105386],"formId":74813,"requireds":[25105386,360010834331,360010783931]},{"fieldType":"tagger","field":360010471192,"value":"my_ad_has_expired","select":[360010783931,360010834331],"formId":74813,"requireds":[360010834331,360010783931]},{"fieldType":"tagger","field":360010510112,"value":"already_paid_but_my_balances_not_increase","select":[360000070526],"formId":74813,"requireds":[360000070526]},{"fieldType":"tagger","field":360010575531,"value":"escrow_transaction","select":[360010717992],"formId":74813,"requireds":[360010717992]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_question_about_credit_system_and_featured_ads","select":[360010577831],"formId":74813,"requireds":[360010577831]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_question_about_my_account","select":[360010469772],"formId":74813,"requireds":[]},{"fieldType":"tagger","field":360010575531,"value":"i_have_a_technical_issue","select":[360010613971],"formId":74813,"requireds":[360010613971]},{"fieldType":"tagger","field":360010575531,"value":"i_have_an_issue_buying_or_selling","select":[360010470152],"formId":74813,"requireds":[360010470152]},{"fieldType":"tagger","field":360010575531,"value":"i_want_to_report_fraud_or_inappropriate_behavior","select":[360010616951],"formId":74813,"requireds":[360010616951]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_about_a_payment","select":[360010510112],"formId":74813,"requireds":[360010510112]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_about_the_credit_system","select":[360010509812],"formId":74813,"requireds":[360010509812]},{"fieldType":"tagger","field":360010577831,"value":"i_have_a_question_on_how_i_can_promote_my_listing","select":[360010613951],"formId":74813,"requireds":[360010613951]},{"fieldType":"tagger","field":360010613951,"value":"i_am_not_sure_how_to_promote_an_ad","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"i_dont_see_my_paid_ad","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"the_ad_i_featured_was_rejected","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010613951,"value":"why_is_my_featured_ad_not_live_yet","select":[360010726952],"formId":74813,"requireds":[360010726952]},{"fieldType":"tagger","field":360010616951,"value":"inappropriate_ads_illegal_scam_violation_etc","select":[360010513032],"formId":74813,"requireds":[360010513032]},{"fieldType":"tagger","field":360010616951,"value":"inappropriate_contact_behavior_from_user","select":[360010513352],"formId":74813,"requireds":[360010513352]},{"fieldType":"tagger","field":360010616951,"value":"product_not_as_advertised_broken_fake_etc","select":[360010513012],"formId":74813,"requireds":[360010513012]},{"fieldType":"tagger","field":360010616951,"value":"someone_else_used_my_personal_details","select":[360010513412],"formId":74813,"requireds":[360010513412]},{"fieldType":"tagger","field":360010616951,"value":"theft_of_goods_or_money_fraud","select":[360010512992],"formId":74813,"requireds":[360010512992]},{"fieldType":"tagger","field":360010717992,"value":"escrow_buying","select":[360010718312,360010718752],"formId":74813,"requireds":[360010718752,360010718312]},{"fieldType":"tagger","field":360010717992,"value":"escrow_selling","select":[360010833931,360010718752],"formId":74813,"requireds":[360010833931,360010718752]}];</script>
  <script type="text/javascript" src="//p20.zdassets.com/hc/theming_assets/554593/54095/script.js?digest=360284383251"></script>
</head>
<body class="">
  
  


  


  <!-- Website Header -->
<header id="header-fix-view" class="header-fix-view" data-view="header/fixheader" data-subid=""> 
  
</header>
<!-- Zendesk Search -->

<!-- ALERT MODULE / CHANGE TEXT AND COLOR:

Options:
yellow
red
blue
off

-->
<div class="alert off">
<font size="2">Dear joedaarters, Kami  informasikan sehubungan dengan perayaan Idul Fitri 1440 H pada tanggal 5-6 Juni 2019. Seluruh kegiatan operasional joedaart diliburkan pada tanggal tersebut. Untuk iklan yang Anda pasang pada tanggal tersebut akan tayang di hari berikutnya. joedaart Indonesia mengucapkan Selamat Idul Fitri 1440 H.</font>
</div>


  <main role="main">
   

<h1 class="knowledge-page-header">Syarat dan Ketentuan</h1>

  <div class="category-tree sections">
    
      <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201376663-Ketentuan-Umum">Ketentuan Umum</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/360030488931-Peran-joedaart-dalam-transaksi">Peran joedaart dalam transaksi</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/206444513-Ketentuan-Umum">Ketentuan Umum</a>
                    </li>
                  
                
                
              
                  </ul>
            </section>
    
      <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201376673-Larangan-Iklan">Larangan Iklan</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li  class="article-promoted" >
                      
                        <span data-title="Artikel yang dipromosikan">★</span>
                      
                      <a href="/hc/id/articles/206444533-Larangan-Iklan">Larangan Iklan</a>
                    </li>
                  
                
                
              
                  </ul>
            </section>
    
      <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201376683-Kebijakan-Privasi">Kebijakan Privasi</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/206077866-Kebijakan-Privasi">Kebijakan Privasi</a>
                    </li>
                  
                
                
              
                  </ul>
            </section>
    
      <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201932963-Syarat-dan-Ketentuan-Fitur-Berbayar">Syarat dan Ketentuan Fitur Berbayar</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/209910493-Syarat-dan-Ketentuan-Fitur-Berbayar">Syarat dan Ketentuan Fitur Berbayar</a>
                    </li>
                  
                
                
              
                  </ul>
            </section>
   
      <section class="section">
              <h3>
                
                <a href="/hc/id/sections/201776973-Prosedur-Pemberitahuan-dan-Penghapusan-Materi-Notice-and-Takedown-Procedure-">Prosedur Pemberitahuan dan Penghapusan Materi (Notice and Takedown Procedure)</a>
              </h3>
              
                <ul class="article-list">
                  
                    <li >
                      
                      <a href="/hc/id/articles/207934013-Prosedur-Pemberitahuan-dan-Penghapusan-Materi">Prosedur Pemberitahuan dan Penghapusan Materi</a>
                    </li>
                  
                    <li >
                      
                      <a href="/hc/id/articles/211480706-Notice-and-Takedown-Procedure">Notice and Takedown Procedure</a>
                    </li>
                  
                
                
              
                  </ul>
            </section>
    
  </div>


<aside>
    <span class="white-aside">
      <h4>Artikel Populer</h4>  
    </span>
    
    <span class="grey-aside">
      
        <section class="promoted-articles">
          <h3>Artikel yang dipromosikan</h3>
          <ul>
            
              <li>
                <a href="/hc/id/articles/206001036-Tips-Pasang-Iklan-yang-Baik-Benar">Tips Pasang Iklan yang Baik &amp; Benar</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/360023116151-Cara-Mengaktifkan-Fitur-WhatsApp">Cara Mengaktifkan Fitur WhatsApp</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/360018504472-FAQ-Iklan-Ditolak-Tidak-Tayang">FAQ Iklan Ditolak / Tidak Tayang</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/360019456052-Tips-Jual-dan-Beli">Tips Jual dan Beli</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/115005247463-Tips-Melakukan-Cash-On-Delivery-COD-">Tips Melakukan Cash On Delivery (COD)</a>
              </li>
            
            
          
            
              <li>
                <a href="/hc/id/articles/115000927003-FAQ-Kuota-Iklan">FAQ Kuota Iklan</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/360018533331-Waspada-Modus-Penipuan-Phishing">Waspada Modus Penipuan Phishing</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/360017541452-Waspada-Modus-Penipuan-Kartu-Kredit">Waspada Modus Penipuan Kartu Kredit</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/360030488931-Peran-joedaart-dalam-transaksi">Peran joedaart dalam transaksi</a>
              </li>
            
              <li>
                <a href="/hc/id/articles/206444533-Larangan-Iklan">Larangan Iklan</a>
              </li>
            
          </ul>
        </section>
      
    </span>
</aside>

<div class="clearfix"></div>
  </main>

  <footer class="footer-holder">
  <footer class="footer wrapper-main">
    <!-- Footer content -->
    <section class="helpLinks">
      <ul> 
        <li class="Contact"><a href="/hc">Pusat Bantuan</a></li>
        <li class="Terms"><a href="/hc/id/articles/206077866">Kebijakan Privasi</a></li>
        <li class="About"><a href="/hc/id/articles/213746523">Tentang joedaart</a></li>
        <li class="Sell"><a href="http://joedaart.com/pasang/">Pasang Iklan</a></li>
      </ul>
    </section>
    <section class="appStores">
      <div class="container-stores">
          <a rel="nofollow" href="https://play.google.com/store/apps/details?id=com.app.tokobagus.betterb&referrer=utm_source%3Djoedaart.com%26utm_medium%3Dcpc%26utm_campaign%3Dandroid-app-footer" target="_blank" class="google-play-en"><img src="//theme.zdassets.com/theme_assets/554593/e47f39672e98748be05a35e8ab0e8ffd8650564f.png" height="40" alt="joedaart App" /></a>
          <a rel="nofollow" href="https://itunes.apple.com/us/app/tokobagus.com/id660161040?mt=8" target="_blank" class="app-store-en"><img src="//theme.zdassets.com/theme_assets/554593/d3479d378da2379c72d50e81807d32a63dad8e58.png" height="40" alt="joedaart App" /></a>
      </div>
    </section>
    <span class="clearfix"></span>
  </footer>
  <div class="special">
    <div class="copyright">
      <p>joedaart Free classifieds <span>in <strong>Indonesia</strong></span> - Copyright © 2006 -
      <script>
        var today = new Date();
        var year = today.getFullYear();
        document.write(year);
      </script>
      joedaart</p>
    </div>
  </div>
</footer>


  <!-- / -->

  <script type="text/javascript" src="//static.zdassets.com/hc/assets/locales/id-4999e53e9bc95f4f8aa3d82ff1ceb180.js"></script>
  <script src="https://joedaartid.zendesk.com/auth/v2/host.js" data-brand-id="54095" data-return-to="https://help.joedaart.com/hc/id/categories/200862056-Syarat-Ketentuan" data-theme="hc" data-locale="id" data-auth-origin="54095,true,true"></script>
  <script type="text/javascript" src="https://p20.zdassets.com/assets/zendesk_pci_hc.v4.js"></script>

  <script type="text/javascript">
  /*

    Greetings sourcecode lurker!

    This is for internal Zendesk and legacy usage,
    we don't support or guarantee any of these values
    so please don't build stuff on top of them.

  */

  HelpCenter = {};
  HelpCenter.account = {"subdomain":"joedaartid","environment":"production","name":"joedaart"};
  HelpCenter.user = {"identifier":"da39a3ee5e6b4b0d3255bfef95601890afd80709","email":null,"name":null,"role":"anonymous","avatar_url":"https://assets.zendesk.com/hc/assets/default_avatar.png","is_admin":false,"organizations":[],"groups":[]};
  HelpCenter.internal = {"asset_url":"//static.zdassets.com/hc/assets/","web_widget_asset_composer_url":"https://static.zdassets.com/ekr/snippet.js","current_session":{"locale":"id","csrf_token":"KpLg5EnQN2hS/JfEMFTHAyFJhkM0mKneqbp1tor1gQPWrTnO2BXn8qWy/HbQv/9f73Ehcck9sgkqI9CKbPjGjg==","shared_csrf_token":null},"settings":{"zopim_enabled":true,"spam_filter_enabled":true},"current_record_id":null,"current_record_url":null,"current_record_title":null,"search_results_count":null,"current_text_direction":"ltr","current_brand_url":"https://joedaartid.zendesk.com","current_host_mapping":"help.joedaart.com","current_path":"/hc/id/categories/200862056-Syarat-dan-Ketentuan","authentication_domain":"https://joedaartid.zendesk.com","show_autocomplete_breadcrumbs":true,"rollbar_config":{"enabled":true,"endpoint":"https://rollbar-us.zendesk.com/api/1/item/","accessToken":"731a5a953e9a4b7ab6cac9623f50c732","captureUncaught":true,"captureUnhandledRejections":true,"payload":{"environment":"production","client":{"javascript":{"source_map_enabled":true,"code_version":"527bee2be262b76350caa5494f955ad6edc25dbb","guess_uncaught_frames":true}}}},"user_info_changing_enabled":false,"has_user_profiles_enabled":false,"user_aliases_enabled":false,"has_anonymous_kb_voting":false,"has_professional_upsell":false,"has_multi_language_help_center":true,"mobile_device":false,"mobile_site_enabled":false,"show_at_mentions":false,"has_copied_content":false,"embeddables_config":{"embeddables_web_widget":true,"embeddables_connect_ipms":false},"base_domain":"zendesk.com","answer_bot_subdomain":"static","plans_url":"https://help.joedaart.com/hc/admin/plan?locale=id","manage_content_url":"https://help.joedaart.com/hc/id","arrange_content_url":"https://help.joedaart.com/hc/admin/arrange_contents?locale=id","general_settings_url":"https://help.joedaart.com/hc/admin/general_settings?locale=id","user_segments_url":"https://joedaartid.zendesk.com/knowledge/user_segments?brand_id=54095","has_community_enabled":false,"has_internal_sections":true,"has_answer_bot_web_form_enabled":false,"billing_url":"/access/return_to?return_to=https://joedaartid.zendesk.com/agent/admin/subscription","has_answer_bot":true,"has_block_answer_bot_embeddable":false,"answer_bot_management_url":"https://help.joedaart.com/hc/admin/answer_bot?locale=id","is_account_owner":false,"theming_center_url":"https://help.joedaart.com/theming","theming_cookie_key":"hc-da39a3ee5e6b4b0d3255bfef95601890afd80709-preview","is_preview":false,"has_guide_user_segments_search":true,"has_alternate_templates":false,"arrange_articles_url":"https://joedaartid.zendesk.com/knowledge/arrange?brand_id=54095","article_verification_url":"https://joedaartid.zendesk.com/knowledge/verification?brand_id=54095","has_article_verification":false,"guide_language_settings_url":"https://help.joedaart.com/hc/admin/language_settings?locale=id","has_fetch_authenticity_token":true,"docs_importer_url":"https://joedaartid.zendesk.com/knowledge/import_articles?brand_id=54095"};
</script>

  <script src="//static.zdassets.com/hc/assets/hc_enduser-e665e712a1d70f4fba6792be681e1bce.js"></script>

  <script type="text/javascript">
    (function() {
  var Tracker = {};

  Tracker.track = function(eventName, data) {
    var url = "https://help.joedaart.com/hc/tracking/events?locale=id";

    var payload = {
      "event": eventName,
      "data": data,
      "referrer": document.referrer
    };

    var xhr = new XMLHttpRequest();

    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
    xhr.send(JSON.stringify(payload));
  };

    Tracker.track("category_viewed", "BAh7CDoQY2F0ZWdvcnlfaWRpBGjp+As6C2xvY2FsZUkiB2lkBjoGRVQ6Cl9tZXRhews6D2FjY291bnRfaWRpA2F2CDoTaGVscF9jZW50ZXJfaWRpBKkR7Qs6DWJyYW5kX2lkaQJP0zoMdXNlcl9pZDA6DnVzZXJfcm9sZUkiDmFub255bW91cwY7B1Q7BkkiB2lkBjsHVA==--2d77508451e314c5f784f95db58fd708cdc12c13");
})();

  </script>
</body>
</html>